workflows/hkHuh4ipCMrGjhSD.json
{
  "id": "hkHuh4ipCMrGjhSD",
  "name": "solutions rfx workflow",
  "nodes": [
    {
      "parameters": {
        "model": "mxbai-embed-large:latest"
      },
      "id": "42bc8259-c735-4e1f-8ecd-780865e2c739",
      "name": "Embeddings Ollama1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        100,
        740
      ],
      "credentials": {
        "ollamaApi": {
          "id": "s3LMboSMY1izVKva",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "98ded5f9-9499-4f2c-bd08-cfc0ed2d05e5",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        0,
        460
      ],
      "credentials": {
        "openAiApi": {
          "id": "EVrMH4EStWLbJWly",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "test_collection3",
          "mode": "list",
          "cachedResultName": "test_collection3"
        },
        "options": {}
      },
      "id": "f362e8fd-b921-41d1-a9ef-9589b2b150f6",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        200,
        580
      ],
      "credentials": {
        "qdrantApi": {
          "id": "FpPC6EZP5nji0Nal",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Context:\n{{ $json['additional context'] }}\nThe question:\n{{ $json.questions }}",
        "options": {}
      },
      "id": "4e8fc47a-d226-4577-ba7a-03ee67bdf8fe",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.3,
      "position": [
        140,
        160
      ]
    },
    {
      "parameters": {},
      "id": "b1a8e656-af7a-4449-8a4e-14e31577aadd",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        400,
        420
      ]
    },
    {
      "parameters": {
        "binaryPropertyName": "={{ $json.response.text }}",
        "options": {}
      },
      "id": "035152cc-730b-47b5-9710-5987ebe9ed37",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        980,
        120
      ]
    },
    {
      "parameters": {
        "path": "rfx",
        "formTitle": "solutions engineering",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Questions",
              "fieldType": "textarea",
              "placeholder": "questions one per line"
            },
            {
              "fieldLabel": "additional context",
              "fieldType": "textarea",
              "placeholder": "about the customer...SAAS/self-host....security/GDPR"
            }
          ]
        },
        "responseMode": "responseNode",
        "options": {
          "appendAttribution": true
        }
      },
      "id": "c5a9cae2-bc63-4dc9-ab51-5d0a18c30e44",
      "name": "n8n Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        -600,
        240
      ],
      "webhookId": "0a938029-5249-43ed-bdf0-8f62a38169df"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "id": "dd2b1a33-76be-46c7-bc9b-46c4a6525761",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1180,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7fa97c98-0324-45af-85eb-7959b7c1f163",
              "name": "questions",
              "value": "={{ $json.Questions.split('\\n') }}",
              "type": "array"
            },
            {
              "id": "629d36dc-0325-4d14-bd12-74db3e54f4a6",
              "name": "additional context",
              "value": "={{ $json['additional context'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "92939a93-0f04-46d6-a829-bdc14cdc0450",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -380,
        240
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "questions",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "a916237c-662e-475f-a643-ae6e5b137df6",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -160,
        240
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "1f1e5a1b-4d82-4388-b547-0f43984937a9",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        800,
        240
      ]
    },
    {
      "parameters": {
        "model": "gemma2:2b",
        "options": {}
      },
      "id": "089edfa5-2795-4e1c-8d64-26692d3db663",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        120,
        380
      ],
      "credentials": {
        "ollamaApi": {
          "id": "s3LMboSMY1izVKva",
          "name": "Ollama account"
        }
      }
    }
  ],
  "connections": {
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "n8n Form Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 2,
  "versionId": "bad37562-d67a-473a-a03e-ef1405c127d4",
  "owner": {
    "type": "team",
    "teamId": "Cu4hotK7yZkWyMWd",
    "teamName": "RFX"
  }
}