workflows/jNnF2zwnI8ZHzzoZ.json
{
  "id": "jNnF2zwnI8ZHzzoZ",
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "id": "eb029162-7d37-4022-bc52-f3f0feefe07b",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c792016c-2fa8-42a9-912b-f04b76b1189b",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        460
      ],
      "webhookId": "3263b50a-7a07-424c-9941-f53d2e3fc6d4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0fda6e8-cfee-4a0e-841c-1aa5e709732f",
              "name": "name",
              "value": "mandip",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ae28cb40-3f52-4187-8e5a-10a28e019ffb",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e23f3a74-bdc2-495d-8742-8a3499507760",
              "name": "form resume url",
              "value": "={{ $execution.resumeFormUrl }}",
              "type": "string"
            },
            {
              "id": "ea3959bc-2f34-4ce2-9c03-cde840a7b76f",
              "name": "execution resume url ",
              "value": "={{ $execution.resumeUrl  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "19cb928f-80a6-43b4-9842-9a3678b79396",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        240
      ]
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "a",
        "formFields": {
          "values": [
            {
              "fieldLabel": "a"
            }
          ]
        },
        "options": {}
      },
      "id": "d472d37e-b421-4f47-aa7d-f1ba70896c45",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        600
      ],
      "webhookId": "b2a3a012-0848-4886-b35a-603fd6a42db6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec39c947-d84c-4905-9431-130e64e5f834",
              "name": "form resume url",
              "value": "={{ $json['form resume url'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4cb84810-f4e2-4810-918e-d6ebf9b322e7",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1300,
        600
      ]
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "d43eb85e-1800-49d6-8685-1a3502963241",
  "owner": {
    "type": "team",
    "teamId": "7KQPZmuLDnKgOrJQ",
    "teamName": "DEMO"
  }
}