workflows/z4XwtLAemE7r84W0.json
{
  "id": "z4XwtLAemE7r84W0",
  "name": "The_Hive_to_Slack_2_way_sync",
  "nodes": [
    {
      "parameters": {},
      "id": "9bee3bfc-ee18-4a03-8137-0c24f089bdc0",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        720,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "events": [
          "case_create"
        ],
        "options": {}
      },
      "id": "1c24efae-a02f-4754-aa04-223447f3af3f",
      "name": "TheHive Trigger",
      "type": "n8n-nodes-base.theHiveProjectTrigger",
      "typeVersion": 1,
      "position": [
        -620,
        843.7829059126309
      ],
      "webhookId": "23c014ae-1191-4775-9c00-69e5e014b11d"
    },
    {
      "parameters": {
        "content": "![Imgur](https://i.imgur.com/iKyMV0N.png)\n## Events Webhook Trigger\nThe first node receives all messages from Slack API via Subscription Events API. You can find more information about setting up the subscription events API by [clicking here](https://api.slack.com/apis/connections/events-api). The second node extracts the payload from slack into an object that n8n can understand.  ",
        "height": 538.2816200839441,
        "width": 455.1635858314854,
        "color": 7
      },
      "id": "5f7e49c4-26cd-408a-8099-6f32c96e781f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -360,
        1063.782905912631
      ]
    },
    {
      "parameters": {
        "content": "![Imgur](https://i.imgur.com/y2Yw1ZP.png)\n## TheHive Trigger\nTo setup TheHive 5's triggers, visit the Settings in TheHive and add a webhook using the url found TheHive node.",
        "height": 516.5011820330969,
        "width": 543.689530484159,
        "color": 7
      },
      "id": "1eab8be7-c3c3-4b66-a7b7-56c6fd9a4fdc",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        483.7829059126309
      ]
    },
    {
      "parameters": {
        "content": "![Imgur](https://i.imgur.com/iKyMV0N.png)\n## Post TheHive Case to Slack\nThe Case data is then mapped to Slack Block Kit and pushed to Slack. In Slack, it lives as a database object, mapping the Case Id to the block kit values themselves, so they can be updated in TheHive. ",
        "height": 516.5011820330969,
        "width": 686.8181233897246,
        "color": 7
      },
      "id": "9d4cebd2-ee9c-450e-9b8f-d4aaf89b5b15",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        483.7829059126309
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e63f9299-a19d-4ba1-93b0-59f458769fb2",
              "name": "response",
              "value": "={{ $json.body.payload }}",
              "type": "object"
            },
            {
              "id": "d95dda30-0a5c-4c63-8b4a-6b4e0a2bcb59",
              "name": "dictionary",
              "value": "{\"PAP\":{\"WHITE\":\"🕊️\",\"GREEN\":\"🟢\",\"AMBER\":\"🟠\",\"RED\":\"🔴\"},\"Severity\":{\"LOW\":\"🟢\",\"MEDIUM\":\"🟡\",\"HIGH\":\"🟠\",\"CRITICAL\":\"🔴\"},\"Severityid\":{\"1\":\"LOW\",\"2\":\"MEDIUM\",\"3\":\"HIGH\",\"4\":\"CRITICAL\"},\"TLP\":{\"WHITE\":\"⚪\",\"GREEN\":\"🟢\",\"AMBER\":\"🟠\",\"RED\":\"🔴\"},\"STATUS\":{\"1\":\"New\",\"2\":\"InProgress\",\"3\":\"Duplicated\",\"4\":\"FalsePositive\",\"5\":\"Indeterminate\",\"6\":\"Other\",\"7\":\"TruePositive\"},\"STATUSEMOJI\":{\"1\":\"🆕\",\"2\":\"🔄\",\"3\":\"📑\",\"4\":\"❎\",\"5\":\"❓\",\"6\":\"🟣\",\"7\":\"🔴\"}}",
              "type": "object"
            },
            {
              "id": "2303d403-1329-47b4-9b74-4f679a2cc192",
              "name": "theHiveUrl",
              "value": "http://37.27.1.230:9000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c8da41da-190c-45d8-9ac5-3df3d1ede18e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -60,
        1423.782905912631
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/views.open",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "{\n  \"Content-type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=  {\n    \"trigger_id\": \"{{ $('Edit Fields').item.json['response']['trigger_id'] }}\",\n    \"external_id\": \"TheHive Task Adder\",\n    \"view\": {\n\t\"type\": \"modal\",\n\t\"callback_id\": \"add_task_modal\",\n\t\"title\": {\n\t\t\"type\": \"plain_text\",\n\t\t\"text\": \"Add a Task to Case\",\n\t\t\"emoji\": true\n\t},\n\t\"submit\": {\n\t\t\"type\": \"plain_text\",\n\t\t\"text\": \"Submit\",\n\t\t\"emoji\": true\n\t},\n\t\"close\": {\n\t\t\"type\": \"plain_text\",\n\t\t\"text\": \"Cancel\",\n\t\t\"emoji\": true\n\t},\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"context\",\n\t\t\t\"block_id\": \"case_number_context\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"{{ $('Edit Fields').item.json[\"response\"][\"message\"][\"blocks\"][1][\"text\"][\"text\"] }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\"text\": \"{{ $('Edit Fields').item.json.response.message.blocks[0].alt_text }}\",\n\t\t\t\t\t\"emoji\": true\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"input\",\n\t\t\t\"block_id\": \"title_block\",\n\t\t\t\"element\": {\n\t\t\t\t\"type\": \"plain_text_input\",\n\t\t\t\t\"action_id\": \"title_input\",\n\t\t\t\t\"placeholder\": {\n\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\"text\": \"Enter the task title\"\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"label\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Title\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"input\",\n\t\t\t\"block_id\": \"description_block\",\n\t\t\t\"element\": {\n\t\t\t\t\"type\": \"plain_text_input\",\n\t\t\t\t\"action_id\": \"description_input\",\n\t\t\t\t\"multiline\": true,\n\t\t\t\t\"placeholder\": {\n\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\"text\": \"Enter a description for the task\"\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"label\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Description\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"input\",\n\t\t\t\"block_id\": \"group_block\",\n\t\t\t\"element\": {\n\t\t\t\t\"type\": \"plain_text_input\",\n\t\t\t\t\"action_id\": \"group_input\",\n\t\t\t\t\"placeholder\": {\n\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\"text\": \"Enter the group name\"\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"label\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Group\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"block_id\": \"case-options\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"checkboxes\",\n\t\t\t\t\t\"options\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\t\t\t\"text\": \":exclamation: *Mandatory*\"\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"description\": {\n\t\t\t\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\t\t\t\"text\": \"Make this case Mandatory\"\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"mandatory\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\t\t\t\"text\": \":triangular_flag_on_post: *Flagged*\"\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"description\": {\n\t\t\t\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\t\t\t\"text\": \"Flag this case\"\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"flagged\"\n\t\t\t\t\t\t}\n\t\t\t\t\t],\n\t\t\t\t\t\"action_id\": \"submit-task-option\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"input\",\n\t\t\t\"block_id\": \"due_date_block\",\n\t\t\t\"element\": {\n\t\t\t\t\"type\": \"datepicker\",\n\t\t\t\t\"action_id\": \"due_date_input\",\n\t\t\t\t\"placeholder\": {\n\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\"text\": \"Select a due date and time\"\n\t\t\t\t},\n\t\t\t\t\"initial_date\": \"{{$today.format('yyyy-MM-dd')}}\"\n\t\t\t},\n\t\t\t\"label\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Due Date\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"input\",\n\t\t\t\"block_id\": \"assignee_block\",\n\t\t\t\"element\": {\n\t\t\t\t\"type\": \"users_select\",\n\t\t\t\t\"action_id\": \"assignee_input\",\n\t\t\t\t\"placeholder\": {\n\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\"text\": \"Select an assignee\"\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"label\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Assignee\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t}\n\t]\n}\n}",
        "options": {}
      },
      "id": "5b146216-6e03-4e7b-9094-c48810eb93f3",
      "name": "Task Modal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        3583.7829059126307
      ]
    },
    {
      "parameters": {
        "url": "https://slack.com/api/users.lookupByEmail",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('TheHive Trigger').item.json[\"body\"][\"object\"][\"assignee\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "afe87bef-9b5f-4adc-a2ae-1387e3b13f21",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        843.7829059126309
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a0f7bf9-f346-4ccf-8026-79c984cdedb5",
              "name": "dictionary",
              "value": "{\"PAP\":{\"CLEAR\":\"🕊️\",\"GREEN\":\"🟢\",\"AMBER\":\"🟠\",\"RED\":\"🔴\"},\"Severity\":{\"LOW\":\"🟢\",\"MEDIUM\":\"🟡\",\"HIGH\":\"🟠\",\"CRITICAL\":\"🔴\"},\"TLP\":{\"CLEAR\":\"⚪\",\"GREEN\":\"🟢\",\"AMBER\":\"🟠\",\"RED\":\"🔴\"},\"STATUS\":{\"NEW\":\"🆕\",\"inprogress\":\"🔄\",\"Duplicated\":\"📑\",\"Falsepositive\":\"❎\",\"Indeterminate\":\"❓\",\"Other\":\"🟣\",\"Truepositive\":\"🔴\"}}",
              "type": "object"
            },
            {
              "id": "32a165d5-cd94-454e-bcf9-9254decb63cb",
              "name": "theHiveUrl",
              "value": "=http://37.27.1.230:9000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "24771e87-988c-477a-80cb-46e7a2349436",
      "name": "Formatting Dictionaries",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -400,
        843.7829059126309
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0001aed3-a3fb-4229-8fa1-1941f0ee8a12",
              "name": "title",
              "value": "=:computer: *Case Title:*\\n {{ $('TheHive Trigger').item.json.body.details.title }}",
              "type": "string"
            },
            {
              "id": "6f40871c-ea6f-4c61-9272-9342c99637e8",
              "name": "datecreated",
              "value": "=*:date: Date Created:*\\n{{DateTime.fromMillis($('TheHive Trigger').item.json[\"body\"][\"context\"][\"_createdAt\"]).toLocaleString({month: 'long', day: 'numeric', year: 'numeric'})}}",
              "type": "string"
            },
            {
              "id": "2ea20d66-380f-4a0f-a1ea-c4740293f48b",
              "name": "number",
              "value": "=:hash: Case #{{ $('TheHive Trigger').item.json.body.details.number }} created on TheHive ",
              "type": "string"
            },
            {
              "id": "a22dd686-ac38-4e73-a0ec-051dce57f9fa",
              "name": "severity",
              "value": "=*Severity:* {{ $('TheHive Trigger').item.json[\"body\"][\"context\"][\"severityLabel\"] }}",
              "type": "string"
            },
            {
              "id": "1c210cfb-2a03-4e81-a8c5-2db739d98226",
              "name": "tlp",
              "value": "=*Traffic Light Protocol(TLP):* {{ $('TheHive Trigger').item.json[\"body\"][\"context\"][\"tlpLabel\"] }}",
              "type": "string"
            },
            {
              "id": "53e1d1a9-055a-48c2-80de-b694871c6620",
              "name": "pap",
              "value": "=*Permissible Actions Protocol(PAP):* {{ $('TheHive Trigger').item.json[\"body\"][\"context\"][\"papLabel\"] }}",
              "type": "string"
            },
            {
              "id": "ee630583-a6ad-4bab-ad78-7846df3ac093",
              "name": "description",
              "value": "=:spiral_note_pad: *Case Description:*\\n{{ $('TheHive Trigger').item.json[\"body\"][\"context\"][\"description\"] }}",
              "type": "string"
            },
            {
              "id": "48ac7d92-5177-46be-b01e-83493f18ee09",
              "name": "assignee",
              "value": "={{ $json.user.profile.real_name }}",
              "type": "string"
            },
            {
              "id": "f9c06ecf-d3d5-490c-a848-02c88fbd3ab4",
              "name": "profilepic",
              "value": "={{ $json.user.profile.image_32 }}",
              "type": "string"
            },
            {
              "id": "bb4ec29d-fac2-4eb9-a177-fca9d2798514",
              "name": "caseid",
              "value": "={{ $('TheHive Trigger').item.json[\"body\"][\"objectId\"] }}",
              "type": "string"
            },
            {
              "id": "7a485f44-b855-4633-ba51-82e7490d7166",
              "name": "tags",
              "value": "=:label:  *Tags:*\\n{{ $('TheHive Trigger').item.json[\"body\"][\"context\"][\"tags\"].join(', ') }}",
              "type": "string"
            },
            {
              "id": "a99d49b4-af10-4e04-a9c6-2b17a14643ff",
              "name": "status_emoji",
              "value": "={{ $(`Formatting Dictionaries`).item.json.dictionary.STATUS[$('TheHive Trigger').item.json[\"body\"][\"context\"][\"status\"].toUpperCase()] }}",
              "type": "string"
            },
            {
              "id": "a4884fc5-2d92-4c34-af9c-61240bc564d5",
              "name": "status",
              "value": "={{ $('TheHive Trigger').item.json[\"body\"][\"context\"][\"status\"] }}",
              "type": "string"
            },
            {
              "id": "7efb073b-1f1a-4d11-97a2-d61a9baeb52f",
              "name": "tlp_emoji",
              "value": "={{ $(`Formatting Dictionaries`).item.json.dictionary.TLP[$('TheHive Trigger').item.json[\"body\"][\"context\"][\"tlpLabel\"].toUpperCase()] }}",
              "type": "string"
            },
            {
              "id": "19f5bc67-97c3-47bc-8210-738057f30c1f",
              "name": "pap_emoji",
              "value": "={{ $(`Formatting Dictionaries`).item.json.dictionary.PAP[$('TheHive Trigger').item.json[\"body\"][\"context\"][\"papLabel\"].toUpperCase()] }}",
              "type": "string"
            },
            {
              "id": "d31504be-e4ef-4704-8b1b-cb1a8072298d",
              "name": "severity_emoji",
              "value": "={{ $(`Formatting Dictionaries`).item.json.dictionary.Severity[$('TheHive Trigger').item.json[\"body\"][\"context\"][\"severityLabel\"].toUpperCase()] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4d904847-d794-4ceb-b700-60e9e27b009b",
      "name": "Prep Fields For Slack",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        40,
        843.7829059126309
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.update",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $('Edit Fields').item.json.response.channel.id }}"
            },
            {
              "name": "ts",
              "value": "={{ $('Edit Fields').item.json.response.container.message_ts }}"
            },
            {
              "name": "blocks",
              "value": "={{ JSON.stringify($json.blocks) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0cac98b6-7572-4c96-836b-50216b0aff65",
      "name": "Update Message with new Assignee",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        1703.782905912631
      ]
    },
    {
      "parameters": {
        "content": "![Imgur](https://i.imgur.com/iKyMV0N.png)\n## Assign Case to Others\nSince slack does not send the slack user email, we must take the extra step \nof passing the user ID back to slack, and getting back the email address of \nthe person selecting the buttons. For this to work correctly, TheHive users \nemails and Slack user emails must be the same. ",
        "height": 467.56934570944634,
        "width": 706.9954015609856,
        "color": 7
      },
      "id": "a9fdde02-bf28-4e98-be5a-3fbee84e97e5",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        929.4990747782674
      ]
    },
    {
      "parameters": {
        "content": "![Imgur](https://i.imgur.com/y2Yw1ZP.png)\n# Streamlined Case Updates via Slack for SOC Analysts\n\n## This workflow segment is crucial for enhancing the responsiveness and efficiency of SOC operations by allowing analysts to update TheHive case attributes directly from Slack. By using form inputs and buttons embedded within Slack messages, analysts can quickly modify case details without switching to TheHive. This integration significantly speeds up case handling and improves the management of security incidents.\n\n\n**Key Operations:**\n- **Dynamic Slack Blocks**: Utilizes custom-built Slack block elements to present actionable items directly within the communication platform.\n- **Immediate Actions**: Enables actions like closing a case as a false positive, updating case severity, TLP (Traffic Light Protocol), PAP (Permissible Action Protocol), and more with simple clicks.\n- **Automated Updates**: Upon interaction, the workflow automatically updates the respective fields in TheHive, ensuring that all case information is current and accurately reflected.\n- **Feedback Loop**: After updating, a confirmation is sent back to Slack, confirming the action taken, which helps in maintaining clear communication and audit trails.\n\n\n**Benefits for SOC Analysts:**\n- **Efficiency**: Reduces the time spent switching between tools and streamlines the case update process.\n- **Accuracy**: Minimizes human error by automating data entry from Slack to TheHive.\n- **Visibility**: Keeps the entire team informed about case status updates in real-time, enhancing collaborative efforts.\n\n\n**Setup Note:**\n- Ensure that your TheHive and Slack integration permissions are configured to allow updates and that users are familiar with the operational workflow.\n- The last set of \"Set\" nodes on the far right of the workflow are designed to split the Slack block kit action into two parts. This split facilitates easier customization of the action options at the bottom of the Slack message. While customization is possible, a good understanding of JSON is desirable to modify these settings effectively.\n\n\nThis integration not only speeds up response times but also leverages the collaborative environment of Slack to keep the SOC team agile and well-informed.",
        "height": 1720.4067726820667,
        "width": 1400.2199299541444,
        "color": 7
      },
      "id": "bc1f6ffb-b983-4765-9e14-5b13538dbd3d",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        1403.782905912631
      ]
    },
    {
      "parameters": {
        "content": "![Imgur](https://i.imgur.com/iKyMV0N.png)\n## Add a task to a Case - Process the task details\nOnce the modal window is submitted, this sections then processes the data sent in. Certain fields send data back to the server so the no operation check simply ignores certain types of inputs in the modal until the whole modal is filled out. ",
        "height": 613.5055433060886,
        "width": 988.1220012094333,
        "color": 7
      },
      "id": "9bec9f01-dafb-4d58-af5c-0b35a7793646",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        495,
        3785.7829059126307
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "de563083-5735-42d3-8765-5b072b10ff9c",
              "leftValue": "={{ $json.response.actions[0].action_id }}",
              "rightValue": "submit-task-option",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "682c4763-1abd-4bdc-99ec-6e572dfd9e25",
      "name": "Check if Case Options",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        535,
        4103.782905912631
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1fccf83-8223-42a2-837e-11eafe5d23fd",
              "name": "slackblocks",
              "value": "={\"type\":\"image\",\"block_id\":\"image_block\",\"image_url\":\"https://i.imgur.com/y2Yw1ZP.png\",\"alt_text\":\"{{ $('Prep Fields For Slack - Assign').item.json[\"caseid\"]}}\"},{\"type\":\"header\",\"block_id\":\"header_case_created\",\"text\":{\"type\":\"plain_text\",\"text\":\"{{ $('Prep Fields For Slack - Assign').item.json[\"number\"]}}\",\"emoji\":true}},{\"type\":\"divider\",\"block_id\":\"divider_1\"},{\"type\":\"section\",\"block_id\":\"section_case_details\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Assign').item.json[\"title\"].replace(\"\\n\",\"\\\\n\")}}\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Assign').item.json[\"datecreated\"].replace(\"\\n\",\"\\\\n\")}}\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Assign').item.json[\"tags\"].replace(\"\\n\",\"\\\\n\")}}\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Assign').item.json[\"description\"].replace(\"\\n\",\"\\\\n\")}}\"}]},{\"type\":\"actions\",\"block_id\":\"actions_case_options\",\"elements\":[{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Close Case as False Positive\",\"emoji\":true},\"style\":\"danger\",\"value\":\"{{ $('Prep Fields For Slack - Assign').item.json[\"caseid\"]}}\",\"action_id\":\"close_case\"},{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Add a Task\",\"emoji\":true},\"value\":\"{{ $('Prep Fields For Slack - Assign').item.json[\"caseid\"]}}\",\"action_id\":\"add_task\"}]},{\"type\":\"divider\",\"block_id\":\"divider_2\"},{\"type\":\"header\",\"block_id\":\"header_current_assignment\",\"text\":{\"type\":\"plain_text\",\"text\":\"🔍 Case Details:\",\"emoji\":true}},{\"type\":\"context\",\"block_id\":\"context_status\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Assign').item.json[\"status\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_severity\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Assign').item.json[\"severity\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_tlp\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Assign').item.json[\"tlp\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_pap\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Assign').item.json[\"pap\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_assignee\",\"elements\":[{\"type\":\"image\",\"image_url\":\"{{ $('Get Slack User's Email From Slack').item.json[\"profile\"][\"image_32\"]}}\",\"alt_text\":\"Profile Pic\"},{\"type\":\"mrkdwn\",\"text\":\"Assignee: {{ $('Get Slack User's Email From Slack').item.json[\"real_name\"] }}\"}]}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8f38184c-871d-4ae1-bf32-398c797fa81a",
      "name": "Case Slack Block Rebuild",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1700,
        1223.782905912631
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1fccf83-8223-42a2-837e-11eafe5d23fd",
              "name": "slackblocks",
              "value": "={\"type\":\"image\",\"block_id\":\"image_block\",\"image_url\":\"https://i.imgur.com/y2Yw1ZP.png\",\"alt_text\":\"{{ $('Prep Fields For Slack - Close').item.json[\"caseid\"]}}\"},{\"type\":\"header\",\"block_id\":\"header_case_created\",\"text\":{\"type\":\"plain_text\",\"text\":\"{{ $('Prep Fields For Slack - Close').item.json[\"number\"]}}\",\"emoji\":true}},{\"type\":\"divider\",\"block_id\":\"divider_1\"},{\"type\":\"section\",\"block_id\":\"section_case_details\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Close').item.json[\"title\"].replace(\"\\n\",\"\\\\n\")}}\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Close').item.json[\"datecreated\"].replace(\"\\n\",\"\\\\n\")}}\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Close').item.json[\"tags\"].replace(\"\\n\",\"\\\\n\")}}\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Close').item.json[\"description\"].replace(\"\\n\",\"\\\\n\")}}\"}]},{\"type\":\"actions\",\"block_id\":\"actions_case_options\",\"elements\":[{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Close Case as False Positive\",\"emoji\":true},\"style\":\"danger\",\"value\":\"{{ $('Prep Fields For Slack - Close').item.json[\"caseid\"]}}\",\"action_id\":\"close_case\"},{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Add a Task\",\"emoji\":true},\"value\":\"{{ $('Prep Fields For Slack - Close').item.json[\"caseid\"]}}\",\"action_id\":\"add_task\"}]},{\"type\":\"divider\",\"block_id\":\"divider_2\"},{\"type\":\"header\",\"block_id\":\"header_current_assignment\",\"text\":{\"type\":\"plain_text\",\"text\":\"🔍 Case Details:\",\"emoji\":true}},{\"type\":\"context\",\"block_id\":\"context_status\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Close').item.json[\"status\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_severity\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Close').item.json[\"severity\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_tlp\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Close').item.json[\"tlp\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_pap\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Close').item.json[\"pap\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_assignee\",\"elements\":[{\"type\":\"image\",\"image_url\":\"{{ $('Prep Fields For Slack - Close').item.json[\"profilepic\"]}}\",\"alt_text\":\"Profile Pic\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Close').item.json[\"assignee\"] }}\"}]}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9a5759f5-6414-4500-8b91-dfb41ceec36f",
      "name": "Close Case Block Rebuild",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1760,
        2243.7829059126307
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1fccf83-8223-42a2-837e-11eafe5d23fd",
              "name": "slackblocks",
              "value": "={\"type\":\"image\",\"block_id\":\"image_block\",\"image_url\":\"https://i.imgur.com/y2Yw1ZP.png\",\"alt_text\":\"{{ $('Prep Fields For Slack - Severity').item.json['caseid']}}\"},{\"type\":\"header\",\"block_id\":\"header_case_created\",\"text\":{\"type\":\"plain_text\",\"text\":\"{{ $('Prep Fields For Slack - Severity').item.json['number']}}\",\"emoji\":true}},{\"type\":\"divider\",\"block_id\":\"divider_1\"},{\"type\":\"section\",\"block_id\":\"section_case_details\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Severity').item.json['title'].replace('\\n','\\\\n')}}\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Severity').item.json['datecreated'].replace('\\n','\\\\n')}}\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Severity').item.json['tags'].replace('\\n','\\\\n')}}\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Severity').item.json['description'].replace('\\n','\\\\n')}}\"}]},{\"type\":\"actions\",\"block_id\":\"actions_case_options\",\"elements\":[{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Close Case as False Positive\",\"emoji\":true},\"style\":\"danger\",\"value\":\"{{ $('Prep Fields For Slack - Severity').item.json['caseid']}}\",\"action_id\":\"close_case\"},{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Add a Task\",\"emoji\":true},\"value\":\"{{ $('Prep Fields For Slack - Severity').item.json['caseid']}}\",\"action_id\":\"add_task\"}]},{\"type\":\"divider\",\"block_id\":\"divider_2\"},{\"type\":\"header\",\"block_id\":\"header_current_assignment\",\"text\":{\"type\":\"plain_text\",\"text\":\"🔍 Case Details:\",\"emoji\":true}},{\"type\":\"context\",\"block_id\":\"context_status\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Severity').item.json['status']}}\"}]},{\"type\":\"context\",\"block_id\":\"context_severity\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Severity').item.json['severity']}}\"}]},{\"type\":\"context\",\"block_id\":\"context_tlp\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Severity').item.json['tlp']}}\"}]},{\"type\":\"context\",\"block_id\":\"context_pap\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Severity').item.json['pap']}}\"}]},{\"type\":\"context\",\"block_id\":\"context_assignee\",\"elements\":[{\"type\":\"image\",\"image_url\":\"{{ $('Prep Fields For Slack - Severity').item.json['profilepic']}}\",\"alt_text\":\"Profile Pic\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Slack - Severity').item.json['assignee']}}\"}]}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2f0aebe3-1a45-45e7-a5b0-c3d3abe1bb5f",
      "name": "Severity Case Block Rebuild1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1760,
        2423.7829059126307
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1fccf83-8223-42a2-837e-11eafe5d23fd",
              "name": "slackblocks",
              "value": "={\"type\":\"image\",\"block_id\":\"image_block\",\"image_url\":\"https://i.imgur.com/y2Yw1ZP.png\",\"alt_text\":\"{{ $('Prep Fields For PAP Slack').item.json[\"caseid\"]}}\"},{\"type\":\"header\",\"block_id\":\"header_case_created\",\"text\":{\"type\":\"plain_text\",\"text\":\"{{ $('Prep Fields For PAP Slack').item.json[\"number\"]}}\",\"emoji\":true}},{\"type\":\"divider\",\"block_id\":\"divider_1\"},{\"type\":\"section\",\"block_id\":\"section_case_details\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For PAP Slack').item.json[\"title\"].replace(\"\\n\",\"\\\\n\")}}\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For PAP Slack').item.json[\"datecreated\"].replace(\"\\n\",\"\\\\n\")}}\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For PAP Slack').item.json[\"tags\"].replace(\"\\n\",\"\\\\n\")}}\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For PAP Slack').item.json[\"description\"].replace(\"\\n\",\"\\\\n\")}}\"}]},{\"type\":\"actions\",\"block_id\":\"actions_case_options\",\"elements\":[{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Close Case as False Positive\",\"emoji\":true},\"style\":\"danger\",\"value\":\"{{ $('Prep Fields For PAP Slack').item.json[\"caseid\"]}}\",\"action_id\":\"close_case\"},{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Add a Task\",\"emoji\":true},\"value\":\"{{ $('Prep Fields For PAP Slack').item.json[\"caseid\"]}}\",\"action_id\":\"add_task\"}]},{\"type\":\"divider\",\"block_id\":\"divider_2\"},{\"type\":\"header\",\"block_id\":\"header_current_assignment\",\"text\":{\"type\":\"plain_text\",\"text\":\"🔍 Case Details:\",\"emoji\":true}},{\"type\":\"context\",\"block_id\":\"context_status\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For PAP Slack').item.json[\"status\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_severity\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For PAP Slack').item.json[\"severity\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_tlp\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For PAP Slack').item.json[\"tlp\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_pap\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For PAP Slack').item.json[\"pap\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_assignee\",\"elements\":[{\"type\":\"image\",\"image_url\":\"{{ $('Prep Fields For PAP Slack').item.json[\"profilepic\"]}}\",\"alt_text\":\"Profile Pic\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For PAP Slack').item.json[\"assignee\"] }}\"}]}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "00688113-d649-4690-a418-3525d892301b",
      "name": "PAP Case Block Rebuild",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1760,
        2603.7829059126307
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0001aed3-a3fb-4229-8fa1-1941f0ee8a12",
              "name": "title",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[0].text }}",
              "type": "string"
            },
            {
              "id": "6f40871c-ea6f-4c61-9272-9342c99637e8",
              "name": "datecreated",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[1].text }}",
              "type": "string"
            },
            {
              "id": "2ea20d66-380f-4a0f-a1ea-c4740293f48b",
              "name": "number",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[1].text.text }}",
              "type": "string"
            },
            {
              "id": "a22dd686-ac38-4e73-a0ec-051dce57f9fa",
              "name": "severity",
              "value": "={{ $('Edit Fields').item.json[\"response\"][\"message\"][\"blocks\"][8][\"elements\"][0][\"text\"] }}",
              "type": "string"
            },
            {
              "id": "1c210cfb-2a03-4e81-a8c5-2db739d98226",
              "name": "tlp",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[9].elements[0].text }}",
              "type": "string"
            },
            {
              "id": "53e1d1a9-055a-48c2-80de-b694871c6620",
              "name": "pap",
              "value": "={{ $('Edit Fields').item.json[\"dictionary\"][\"PAP\"][$('Edit Fields').item.json[\"response\"][\"state\"][\"values\"][\"actions_assignment_options\"][\"update_pap\"][\"selected_option\"][\"text\"][\"text\"].toUpperCase()] }} *Permissible Actions Protocol(PAP):* {{ $('Edit Fields').item.json[\"response\"][\"state\"][\"values\"][\"actions_assignment_options\"][\"update_pap\"][\"selected_option\"][\"text\"][\"text\"].toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "ee630583-a6ad-4bab-ad78-7846df3ac093",
              "name": "description",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[3].text }}",
              "type": "string"
            },
            {
              "id": "48ac7d92-5177-46be-b01e-83493f18ee09",
              "name": "assignee",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[11].elements[1].text }}",
              "type": "string"
            },
            {
              "id": "f9c06ecf-d3d5-490c-a848-02c88fbd3ab4",
              "name": "profilepic",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[11].elements[0].image_url }}",
              "type": "string"
            },
            {
              "id": "bb4ec29d-fac2-4eb9-a177-fca9d2798514",
              "name": "caseid",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[0].alt_text }}",
              "type": "string"
            },
            {
              "id": "7a485f44-b855-4633-ba51-82e7490d7166",
              "name": "tags",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[2].text.replaceAll(\"\\n\",\"\\\\n\").replaceAll(\"**\",\"*\") }}",
              "type": "string"
            },
            {
              "id": "a4884fc5-2d92-4c34-af9c-61240bc564d5",
              "name": "status",
              "value": "={{ $json.response.message.blocks[7].elements[0].text }}",
              "type": "string"
            },
            {
              "id": "449c052a-05b4-4c03-99a4-b5fe7ec0e102",
              "name": "newassignee",
              "value": "={{ $json.response.state.values.actions_assignment_options['change-assignee'].selected_user }}",
              "type": "string"
            },
            {
              "id": "8278ead1-85c0-4921-ac36-9abfd44f99c8",
              "name": "papId",
              "value": "={{ $json.response.state.values.actions_assignment_options.update_pap.selected_option.value }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "25cf6e32-bd79-42bc-a6b1-18c6e3317b3a",
      "name": "Prep Fields For PAP Slack",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        960,
        2603.7829059126307
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d88f9ff-3046-491f-a31c-642839fba7b4",
              "name": "actions",
              "value": "={{ $json.slackblocks }}",
              "type": "string"
            },
            {
              "id": "5cde079d-1b30-41b0-948d-f3b8bacb88bf",
              "name": "buttons",
              "value": "={\"type\":\"actions\",\"block_id\":\"actions_assignment_options\",\"elements\":[{\"type\":\"users_select\",\"placeholder\":{\"type\":\"plain_text\",\"text\":\"Change Assignee\",\"emoji\":true},\"action_id\":\"change-assignee\"},{\"type\":\"static_select\",\"placeholder\":{\"type\":\"plain_text\",\"text\":\"Change Status\",\"emoji\":true},\"action_id\":\"update-status\",\"options\":[{\"text\":{\"type\":\"plain_text\",\"text\":\"🆕 New\",\"emoji\":true},\"value\":\"1\"},{\"text\":{\"type\":\"plain_text\",\"text\":\"🔄 In progress\",\"emoji\":true},\"value\":\"2\"},{\"text\":{\"type\":\"plain_text\",\"text\":\"📑 Duplicated\",\"emoji\":true},\"value\":\"3\"},{\"text\":{\"type\":\"plain_text\",\"text\":\"❎ False positive\",\"emoji\":true},\"value\":\"4\"},{\"text\":{\"type\":\"plain_text\",\"text\":\"❓ Indeterminate\",\"emoji\":true},\"value\":\"5\"},{\"text\":{\"type\":\"plain_text\",\"text\":\"🔵 Other\",\"emoji\":true},\"value\":\"6\"},{\"text\":{\"type\":\"plain_text\",\"text\":\"✅ True positive\",\"emoji\":true},\"value\":\"7\"}]},{\"type\":\"static_select\",\"placeholder\":{\"type\":\"plain_text\",\"text\":\"Change severity\",\"emoji\":true},\"action_id\":\"update_severity\",\"options\":[{\"text\":{\"type\":\"plain_text\",\"text\":\"Low\",\"emoji\":true},\"value\":\"1\"},{\"text\":{\"type\":\"plain_text\",\"text\":\"Medium\",\"emoji\":true},\"value\":\"2\"},{\"text\":{\"type\":\"plain_text\",\"text\":\"High\",\"emoji\":true},\"value\":\"3\"},{\"text\":{\"type\":\"plain_text\",\"text\":\"Critical\",\"emoji\":true},\"value\":\"4\"}]},{\"type\":\"static_select\",\"placeholder\":{\"type\":\"plain_text\",\"text\":\"Change TLP\",\"emoji\":true},\"action_id\":\"update_tlp\",\"options\":[{\"text\":{\"type\":\"plain_text\",\"text\":\"White\",\"emoji\":true},\"value\":\"0\"},{\"text\":{\"type\":\"plain_text\",\"text\":\"Green\",\"emoji\":true},\"value\":\"1\"},{\"text\":{\"type\":\"plain_text\",\"text\":\"Amber\",\"emoji\":true},\"value\":\"2\"},{\"text\":{\"type\":\"plain_text\",\"text\":\"Red\",\"emoji\":true},\"value\":\"3\"}]},{\"type\":\"static_select\",\"placeholder\":{\"type\":\"plain_text\",\"text\":\"Change PAP\",\"emoji\":true},\"action_id\":\"update_pap\",\"options\":[{\"text\":{\"type\":\"plain_text\",\"text\":\"White\",\"emoji\":true},\"value\":\"0\"},{\"text\":{\"type\":\"plain_text\",\"text\":\"Green\",\"emoji\":true},\"value\":\"1\"},{\"text\":{\"type\":\"plain_text\",\"text\":\"Amber\",\"emoji\":true},\"value\":\"2\"},{\"text\":{\"type\":\"plain_text\",\"text\":\"Red\",\"emoji\":true},\"value\":\"3\"}]}]},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\":bee: View the case in TheHive\"},\"accessory\":{\"type\":\"button\",\"style\":\"primary\",\"text\":{\"type\":\"plain_text\",\"text\":\"View Case\",\"emoji\":true},\"value\":\"click_me_123\",\"url\":\"{{ $('Edit Fields').item.json.theHiveUrl }}/cases/{{ $('Edit Fields').item.json.response.message.blocks[0].alt_text }}/details\",\"action_id\":\"viewlink\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "08347ff8-61d5-4a3a-8e46-00440af23eca",
      "name": "Map Actions",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2060,
        1703.782905912631
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\"blocks\": [{{ $json.actions }},{{ $json.buttons }}]}\n ",
        "options": {}
      },
      "id": "dc1cd993-3be5-47bc-ad31-e565be3be67c",
      "name": "Build Final Block",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2280,
        1703.782905912631
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0001aed3-a3fb-4229-8fa1-1941f0ee8a12",
              "name": "title",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[0].text }}",
              "type": "string"
            },
            {
              "id": "6f40871c-ea6f-4c61-9272-9342c99637e8",
              "name": "datecreated",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[1].text }}",
              "type": "string"
            },
            {
              "id": "2ea20d66-380f-4a0f-a1ea-c4740293f48b",
              "name": "number",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[1].text.text }}",
              "type": "string"
            },
            {
              "id": "a22dd686-ac38-4e73-a0ec-051dce57f9fa",
              "name": "severity",
              "value": "={{ $('Edit Fields').item.json[\"response\"][\"message\"][\"blocks\"][8][\"elements\"][0][\"text\"] }}",
              "type": "string"
            },
            {
              "id": "1c210cfb-2a03-4e81-a8c5-2db739d98226",
              "name": "tlp",
              "value": "={{ $('Edit Fields').item.json[\"dictionary\"][\"TLP\"][$('Edit Fields').item.json[\"response\"][\"state\"][\"values\"][\"actions_assignment_options\"][\"update_tlp\"][\"selected_option\"][\"text\"][\"text\"].toUpperCase()] }} *Traffic Light Protocol(TLP):* {{ $('Edit Fields').item.json[\"response\"][\"state\"][\"values\"][\"actions_assignment_options\"][\"update_tlp\"][\"selected_option\"][\"text\"][\"text\"].toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "53e1d1a9-055a-48c2-80de-b694871c6620",
              "name": "pap",
              "value": "={{ $json.response.message.blocks[10].elements[0].text }}",
              "type": "string"
            },
            {
              "id": "ee630583-a6ad-4bab-ad78-7846df3ac093",
              "name": "description",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[3].text }}",
              "type": "string"
            },
            {
              "id": "48ac7d92-5177-46be-b01e-83493f18ee09",
              "name": "assignee",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[11].elements[1].text }}",
              "type": "string"
            },
            {
              "id": "f9c06ecf-d3d5-490c-a848-02c88fbd3ab4",
              "name": "profilepic",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[11].elements[0].image_url }}",
              "type": "string"
            },
            {
              "id": "bb4ec29d-fac2-4eb9-a177-fca9d2798514",
              "name": "caseid",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[0].alt_text }}",
              "type": "string"
            },
            {
              "id": "7a485f44-b855-4633-ba51-82e7490d7166",
              "name": "tags",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[2].text.replaceAll(\"\\n\",\"\\\\n\").replaceAll(\"**\",\"*\") }}",
              "type": "string"
            },
            {
              "id": "a4884fc5-2d92-4c34-af9c-61240bc564d5",
              "name": "status",
              "value": "={{ $json.response.message.blocks[7].elements[0].text }}",
              "type": "string"
            },
            {
              "id": "449c052a-05b4-4c03-99a4-b5fe7ec0e102",
              "name": "newassignee",
              "value": "={{ $json.response.state.values.actions_assignment_options['change-assignee'].selected_user }}",
              "type": "string"
            },
            {
              "id": "8278ead1-85c0-4921-ac36-9abfd44f99c8",
              "name": "tlpId",
              "value": "={{ $('Edit Fields').item.json.response.state.values.actions_assignment_options.update_tlp.selected_option.value }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "d74c9b05-85f9-4f9d-8ad7-537cb522dadc",
      "name": "Prep Fields For TLP Slack",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        960,
        2783.7829059126307
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0001aed3-a3fb-4229-8fa1-1941f0ee8a12",
              "name": "title",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[0].text }}",
              "type": "string"
            },
            {
              "id": "6f40871c-ea6f-4c61-9272-9342c99637e8",
              "name": "datecreated",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[1].text }}",
              "type": "string"
            },
            {
              "id": "2ea20d66-380f-4a0f-a1ea-c4740293f48b",
              "name": "number",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[1].text.text }}",
              "type": "string"
            },
            {
              "id": "a22dd686-ac38-4e73-a0ec-051dce57f9fa",
              "name": "severity",
              "value": "={{ $('Edit Fields').item.json[\"response\"][\"message\"][\"blocks\"][8][\"elements\"][0][\"text\"] }}",
              "type": "string"
            },
            {
              "id": "1c210cfb-2a03-4e81-a8c5-2db739d98226",
              "name": "tlp",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[9].elements[0].text }}",
              "type": "string"
            },
            {
              "id": "53e1d1a9-055a-48c2-80de-b694871c6620",
              "name": "pap",
              "value": "={{ $json.response.message.blocks[10].elements[0].text }}",
              "type": "string"
            },
            {
              "id": "ee630583-a6ad-4bab-ad78-7846df3ac093",
              "name": "description",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[3].text }}",
              "type": "string"
            },
            {
              "id": "48ac7d92-5177-46be-b01e-83493f18ee09",
              "name": "assignee",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[11].elements[1].text }}",
              "type": "string"
            },
            {
              "id": "f9c06ecf-d3d5-490c-a848-02c88fbd3ab4",
              "name": "profilepic",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[11].elements[0].image_url }}",
              "type": "string"
            },
            {
              "id": "bb4ec29d-fac2-4eb9-a177-fca9d2798514",
              "name": "caseid",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[0].alt_text }}",
              "type": "string"
            },
            {
              "id": "7a485f44-b855-4633-ba51-82e7490d7166",
              "name": "tags",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[2].text.replaceAll(\"\\n\",\"\\\\n\").replaceAll(\"**\",\"*\") }}",
              "type": "string"
            },
            {
              "id": "a4884fc5-2d92-4c34-af9c-61240bc564d5",
              "name": "status",
              "value": "={{ $('Edit Fields').item.json[\"dictionary\"][\"STATUSEMOJI\"][$('Edit Fields').item.json[\"response\"][\"state\"][\"values\"][\"actions_assignment_options\"][\"update-status\"][\"selected_option\"][\"value\"].toUpperCase()] }} *Status:* {{ $('Edit Fields').item.json[\"dictionary\"][\"STATUS\"][$('Edit Fields').item.json[\"response\"][\"state\"][\"values\"][\"actions_assignment_options\"][\"update-status\"][\"selected_option\"][\"value\"].toUpperCase()] }}",
              "type": "string"
            },
            {
              "id": "8278ead1-85c0-4921-ac36-9abfd44f99c8",
              "name": "statusvalue",
              "value": "={{ $('Edit Fields').item.json[\"dictionary\"][\"STATUS\"][$('Edit Fields').item.json[\"response\"][\"state\"][\"values\"][\"actions_assignment_options\"][\"update-status\"][\"selected_option\"][\"value\"].toUpperCase()] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8fdf012e-d2f8-4a80-9a82-2f77d8d01fcf",
      "name": "Prep Fields For Status Slack",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        960,
        2963.7829059126307
      ]
    },
    {
      "parameters": {
        "resource": "case",
        "operation": "update",
        "caseUpdateFields": {
          "mappingMode": "defineBelow",
          "value": {
            "flag": false,
            "id": "={{ $json.caseid }}",
            "status": "={{ $json.statusvalue }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "displayName": "ID",
              "id": "id",
              "required": false,
              "display": true,
              "type": "string",
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "displayName": "Title",
              "id": "title",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Description",
              "id": "description",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Severity (Severity of information)",
              "id": "severity",
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": 1
                },
                {
                  "name": "Medium",
                  "value": 2
                },
                {
                  "name": "High",
                  "value": 3
                },
                {
                  "name": "Critical",
                  "value": 4
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Start Date",
              "id": "startDate",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "End Date",
              "id": "endDate",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Tags",
              "id": "tags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Flag",
              "id": "flag",
              "type": "boolean",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "TLP (Confidentiality of information)",
              "id": "tlp",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "PAP (Level of exposure of information)",
              "id": "pap",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Summary",
              "id": "summary",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Status",
              "id": "status",
              "type": "options",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "Duplicated",
                  "value": "Duplicated",
                  "description": "Stage: Closed"
                },
                {
                  "name": "FalsePositive",
                  "value": "FalsePositive",
                  "description": "Stage: Closed"
                },
                {
                  "name": "Indeterminate",
                  "value": "Indeterminate",
                  "description": "Stage: Closed"
                },
                {
                  "name": "InProgress",
                  "value": "InProgress",
                  "description": "Stage: InProgress"
                },
                {
                  "name": "New",
                  "value": "New",
                  "description": "Stage: New"
                },
                {
                  "name": "Other",
                  "value": "Other",
                  "description": "Stage: Closed"
                },
                {
                  "name": "TruePositive",
                  "value": "TruePositive",
                  "description": "Stage: Closed"
                }
              ]
            },
            {
              "displayName": "Assignee",
              "id": "assignee",
              "type": "options",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "Angel",
                  "value": "angel@aztechsol.com"
                },
                {
                  "name": "Alex Montminy",
                  "value": "alex@aztechsol.com"
                }
              ]
            },
            {
              "displayName": "Impact Status",
              "id": "impactStatus",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Task Rule",
              "id": "taskRule",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "displayName": "Observable Rule",
              "id": "observableRule",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "displayName": "Add Tags",
              "id": "addTags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "displayName": "Remove Tags",
              "id": "removeTags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ]
        }
      },
      "id": "3536e254-ba57-4285-8615-c6220b8debf8",
      "name": "Update Status in TheHive",
      "type": "n8n-nodes-base.theHiveProject",
      "typeVersion": 1,
      "position": [
        1420,
        2963.7829059126307
      ]
    },
    {
      "parameters": {
        "resource": "case",
        "operation": "update",
        "caseUpdateFields": {
          "mappingMode": "defineBelow",
          "value": {
            "flag": false,
            "status": "FalsePositive",
            "id": "={{ $json.caseid }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "displayName": "ID",
              "id": "id",
              "required": false,
              "display": true,
              "type": "string",
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "displayName": "Title",
              "id": "title",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Description",
              "id": "description",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Severity (Severity of information)",
              "id": "severity",
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": 1
                },
                {
                  "name": "Medium",
                  "value": 2
                },
                {
                  "name": "High",
                  "value": 3
                },
                {
                  "name": "Critical",
                  "value": 4
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Start Date",
              "id": "startDate",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "End Date",
              "id": "endDate",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Tags",
              "id": "tags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Flag",
              "id": "flag",
              "type": "boolean",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "TLP (Confidentiality of information)",
              "id": "tlp",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "PAP (Level of exposure of information)",
              "id": "pap",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Summary",
              "id": "summary",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Status",
              "id": "status",
              "type": "options",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "Duplicated",
                  "value": "Duplicated",
                  "description": "Stage: Closed"
                },
                {
                  "name": "FalsePositive",
                  "value": "FalsePositive",
                  "description": "Stage: Closed"
                },
                {
                  "name": "Indeterminate",
                  "value": "Indeterminate",
                  "description": "Stage: Closed"
                },
                {
                  "name": "InProgress",
                  "value": "InProgress",
                  "description": "Stage: InProgress"
                },
                {
                  "name": "New",
                  "value": "New",
                  "description": "Stage: New"
                },
                {
                  "name": "Other",
                  "value": "Other",
                  "description": "Stage: Closed"
                },
                {
                  "name": "TruePositive",
                  "value": "TruePositive",
                  "description": "Stage: Closed"
                }
              ]
            },
            {
              "displayName": "Assignee",
              "id": "assignee",
              "type": "options",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "Angel",
                  "value": "angel@aztechsol.com"
                },
                {
                  "name": "Alex Montminy",
                  "value": "alex@aztechsol.com"
                }
              ]
            },
            {
              "displayName": "Impact Status",
              "id": "impactStatus",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Task Rule",
              "id": "taskRule",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "displayName": "Observable Rule",
              "id": "observableRule",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "displayName": "Add Tags",
              "id": "addTags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "displayName": "Remove Tags",
              "id": "removeTags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ]
        }
      },
      "id": "063ce969-457a-4dda-a5da-00a45b63e0fd",
      "name": "Close Case as False Positive",
      "type": "n8n-nodes-base.theHiveProject",
      "typeVersion": 1,
      "position": [
        1420,
        2243.7829059126307
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1fccf83-8223-42a2-837e-11eafe5d23fd",
              "name": "slackblocks",
              "value": "={\"type\":\"image\",\"block_id\":\"image_block\",\"image_url\":\"https://i.imgur.com/y2Yw1ZP.png\",\"alt_text\":\"{{ $('Prep Fields For Status Slack').item.json[\"caseid\"]}}\"},{\"type\":\"header\",\"block_id\":\"header_case_created\",\"text\":{\"type\":\"plain_text\",\"text\":\"{{ $('Prep Fields For Status Slack').item.json[\"number\"]}}\",\"emoji\":true}},{\"type\":\"divider\",\"block_id\":\"divider_1\"},{\"type\":\"section\",\"block_id\":\"section_case_details\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Status Slack').item.json[\"title\"].replace(\"\\n\",\"\\\\n\")}}\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Status Slack').item.json[\"datecreated\"].replace(\"\\n\",\"\\\\n\")}}\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Status Slack').item.json[\"tags\"].replace(\"\\n\",\"\\\\n\")}}\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Status Slack').item.json[\"description\"].replace(\"\\n\",\"\\\\n\")}}\"}]},{\"type\":\"actions\",\"block_id\":\"actions_case_options\",\"elements\":[{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Close Case as False Positive\",\"emoji\":true},\"style\":\"danger\",\"value\":\"{{ $('Prep Fields For Status Slack').item.json[\"caseid\"]}}\",\"action_id\":\"close_case\"},{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Add a Task\",\"emoji\":true},\"value\":\"{{ $('Prep Fields For Status Slack').item.json[\"caseid\"]}}\",\"action_id\":\"add_task\"}]},{\"type\":\"divider\",\"block_id\":\"divider_2\"},{\"type\":\"header\",\"block_id\":\"header_current_assignment\",\"text\":{\"type\":\"plain_text\",\"text\":\"🔍 Case Details:\",\"emoji\":true}},{\"type\":\"context\",\"block_id\":\"context_status\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Status Slack').item.json[\"status\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_severity\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Status Slack').item.json[\"severity\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_tlp\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Status Slack').item.json[\"tlp\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_pap\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Status Slack').item.json[\"pap\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_assignee\",\"elements\":[{\"type\":\"image\",\"image_url\":\"{{ $('Prep Fields For Status Slack').item.json[\"profilepic\"]}}\",\"alt_text\":\"Profile Pic\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For Status Slack').item.json[\"assignee\"] }}\"}]}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "20b5cdad-6a2f-4965-8746-8862e2ff10eb",
      "name": "Status Case Block Rebuild",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1760,
        2963.7829059126307
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1fccf83-8223-42a2-837e-11eafe5d23fd",
              "name": "slackblocks",
              "value": "={\"type\":\"image\",\"block_id\":\"image_block\",\"image_url\":\"https://i.imgur.com/y2Yw1ZP.png\",\"alt_text\":\"{{ $('Prep Fields For TLP Slack').item.json[\"caseid\"]}}\"},{\"type\":\"header\",\"block_id\":\"header_case_created\",\"text\":{\"type\":\"plain_text\",\"text\":\"{{ $('Prep Fields For TLP Slack').item.json[\"number\"]}}\",\"emoji\":true}},{\"type\":\"divider\",\"block_id\":\"divider_1\"},{\"type\":\"section\",\"block_id\":\"section_case_details\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For TLP Slack').item.json[\"title\"].replace(\"\\n\",\"\\\\n\")}}\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For TLP Slack').item.json[\"datecreated\"].replace(\"\\n\",\"\\\\n\")}}\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For TLP Slack').item.json[\"tags\"].replace(\"\\n\",\"\\\\n\")}}\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For TLP Slack').item.json[\"description\"].replace(\"\\n\",\"\\\\n\")}}\"}]},{\"type\":\"actions\",\"block_id\":\"actions_case_options\",\"elements\":[{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Close Case as False Positive\",\"emoji\":true},\"style\":\"danger\",\"value\":\"{{ $('Prep Fields For TLP Slack').item.json[\"caseid\"]}}\",\"action_id\":\"close_case\"},{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"Add a Task\",\"emoji\":true},\"value\":\"{{ $('Prep Fields For TLP Slack').item.json[\"caseid\"]}}\",\"action_id\":\"add_task\"}]},{\"type\":\"divider\",\"block_id\":\"divider_2\"},{\"type\":\"header\",\"block_id\":\"header_current_assignment\",\"text\":{\"type\":\"plain_text\",\"text\":\"🔍 Case Details:\",\"emoji\":true}},{\"type\":\"context\",\"block_id\":\"context_status\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For TLP Slack').item.json[\"status\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_severity\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For TLP Slack').item.json[\"severity\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_tlp\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For TLP Slack').item.json[\"tlp\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_pap\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For TLP Slack').item.json[\"pap\"]}}\"}]},{\"type\":\"context\",\"block_id\":\"context_assignee\",\"elements\":[{\"type\":\"image\",\"image_url\":\"{{ $('Prep Fields For TLP Slack').item.json[\"profilepic\"]}}\",\"alt_text\":\"Profile Pic\"},{\"type\":\"mrkdwn\",\"text\":\"{{ $('Prep Fields For TLP Slack').item.json[\"assignee\"] }}\"}]}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c551473c-e0ea-43a4-8157-f33c0b679949",
      "name": "TLP Case Block Rebuild",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1760,
        2783.7829059126307
      ]
    },
    {
      "parameters": {},
      "id": "7096e80e-9451-4993-ad5f-abbd84869e61",
      "name": "No Action Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        4683.782905912631
      ]
    },
    {
      "parameters": {
        "content": "![Imgur](https://i.imgur.com/iKyMV0N.png)\n## Add a task to a Case - Display Modal Popup\nThis section of the workflow focuses on enhancing task management directly within Slack, allowing users to interactively add tasks to cases through a modal popup. \n\nThe workflow acknowledges the modal request using a specialized node that prepares the system for a dynamic interaction, then leverages an HTTP request node to open a modal in Slack via the `https://slack.com/api/views.open` API endpoint. \n\nThis modal is populated with various fields such as task title, description, due date, assignee, and options like marking the task as mandatory or flagged, which are meticulously structured in JSON format to facilitate user input. \n\nEach element in the modal, from text inputs and date pickers to user-select dropdowns, is designed for ease of use, ensuring that task details are comprehensive and contextually relevant. ",
        "height": 631.3919967555308,
        "width": 792.317043267064,
        "color": 7
      },
      "id": "259ce37f-02ee-46c2-bb83-40fab84f9b28",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        3143.7829059126307
      ]
    },
    {
      "parameters": {
        "content": "![Imgur](https://i.imgur.com/y2Yw1ZP.png)\n## Assign Case to Others\nLastly the assignee data is passed into TheHive in \nthe correct format. We then use the Set node to \nbegin the process of building our updated Slack \nmessage. ",
        "height": 465.39159795232865,
        "width": 691.0596729578308,
        "color": 7
      },
      "id": "69307a9f-ce29-4d76-a87c-23808dcad951",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1216.0596905369107,
        929.0366518634163
      ]
    },
    {
      "parameters": {
        "content": "![Imgur](https://i.imgur.com/iKyMV0N.png)\n# Dynamic Slack Message Updates in Workflow\n\nThis section of the workflow focuses on dynamically updating Slack messages to reflect changes in TheHive case attributes directly from Slack. The process begins by mapping user actions to Slack interactive elements, which are then composed into a final message block. This updated block is sent back to Slack to modify the original message, ensuring all changes are visible in real-time.\n\n**Key Components:**\n- **Map Actions Node**: This node maps user actions from Slack, like changing assignees or case status, into JSON format. It sets the foundation for creating interactive message blocks that users can interact with.\n- **Build Final Block Node**: Combines all interactive elements into a single JSON object, preparing it for posting back to Slack.\n- **Update Message with new Assignee Node**: Utilizes an HTTP request to post the updated message blocks back to Slack using the chat.update API endpoint. This action modifies the original Slack message to display the new, interactive elements.\n\n**Workflow Efficiency:**\n- By automating the update of Slack messages, this process eliminates the need for manual updates and ensures that all stakeholders are viewing the most current case details directly within Slack.\n- Isolating action elements in separate nodes allows for easier modifications and ensures that any changes in the workflow logic are consistently applied.\n\n**Setup Considerations:**\n- Ensure that the Slack API credentials are correctly configured to allow message updates.\n- Familiarize yourself with JSON structure if you need to customize the interactive elements further, as modifications require a good understanding of JSON formatting.\n\nThis method not only enhances the interactivity of Slack communications but also ensures that updates are seamlessly integrated into the workflow, promoting efficiency and ensuring data consistency.",
        "height": 895.6351014818621,
        "width": 952.9348524840666,
        "color": 7
      },
      "id": "41b1a78d-8c1a-40ce-a80a-d807896cae4d",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        993.1771267169091
      ]
    },
    {
      "parameters": {
        "content": "![Imgur](https://i.imgur.com/y2Yw1ZP.png)\n## Add a task to a Case - Process the task details\nThe data is then processed in TheHive using the native n8n node. ",
        "height": 570.3745712311052,
        "width": 409.70915573152797,
        "color": 7
      },
      "id": "656f94c5-a07b-4213-9011-f3455fc9ea67",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1495,
        3786.7829059126307
      ]
    },
    {
      "parameters": {
        "content": "![n8n](https://i.imgur.com/lKnBNnH.png)\n## n8n Switch Node\nThis node checks the messages from Slack and routes them down the appropriate route in the workflow. \n\nIt is an invaluable tool that simplifies our logic immensely. ",
        "height": 628.1281535316614,
        "width": 374.56596023868,
        "color": 7
      },
      "id": "1e4e8f3a-0aeb-4fab-9cbf-e12c86d639e9",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        111.11291562403608,
        1063.782905912631
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C05LAN72WJK",
          "mode": "list",
          "cachedResultName": "alerts-cyber"
        },
        "messageType": "block",
        "blocksUi": "={\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"image\",\n\t\t\t\"block_id\": \"image_block\",\n\t\t\t\"image_url\": \"https://i.imgur.com/y2Yw1ZP.png\",\n\t\t\t\"alt_text\": \"{{ $json['caseid'] }}\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"block_id\": \"header_case_created\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"{{ $json['number'] }}\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"divider\",\n\t\t\t\"block_id\": \"divider_1\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"block_id\": \"section_case_details\",\n\t\t\t\"fields\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"{{ $json['title'] }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"{{ $json['datecreated'] }}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"{{ $json['description'].replaceAll(\"\\n\",\"\\\\n\").replaceAll(\"**\",\"*\")}}\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"{{ $json['tags'] }}\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"block_id\": \"actions_case_options\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"Close Case as False Positive\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"style\": \"danger\",\n\t\t\t\t\t\"value\": \"{{ $json['caseid'] }}\",\n\t\t\t\t\t\"action_id\": \"close_case\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"button\",\n\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"Add a Task\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"value\": \"{{ $json['caseid'] }}\",\n\t\t\t\t\t\"action_id\": \"add_task\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"divider\",\n\t\t\t\"block_id\": \"divider_2\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"header\",\n\t\t\t\"block_id\": \"header_current_assignment\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"🔍 Case Details:\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"context\",\n\t\t\t\"block_id\": \"context_status\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"{{ $json['status_emoji'] }} *Status:* {{ $json['status'] }}\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"context\",\n\t\t\t\"block_id\": \"context_severity\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"{{ $json['severity_emoji'] }} {{ $json['severity'] }}\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"context\",\n\t\t\t\"block_id\": \"context_tlp\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"{{ $json['tlp_emoji'] }} {{ $json['tlp'] }}\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"context\",\n\t\t\t\"block_id\": \"context_pap\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"{{ $json['pap_emoji'] }} {{ $json['pap'] }}\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"context\",\n\t\t\t\"block_id\": \"context_assignee\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"image\",\n\t\t\t\t\t\"image_url\": \"{{ $json['profilepic'] }}\",\n\t\t\t\t\t\"alt_text\": \"Profile Pic\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\t\"text\": \"Assignee: {{ $json['assignee'] }}\"\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"actions\",\n\t\t\t\"block_id\": \"actions_assignment_options\",\n\t\t\t\"elements\": [\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"users_select\",\n\t\t\t\t\t\"placeholder\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"Change Assignee\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"action_id\": \"change-assignee\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"static_select\",\n\t\t\t\t\t\"placeholder\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"Change Status\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"action_id\": \"update-status\",\n\t\t\t\t\t\"options\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"🆕 New\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"1\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"🔄 In progress\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"2\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"📑 Duplicated\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"3\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"❎ False positive\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"4\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"❓ Indeterminate\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"5\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"🔵 Other\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"6\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"✅ True positive\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"7\"\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"static_select\",\n\t\t\t\t\t\"placeholder\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"Change severity\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"action_id\": \"update_severity\",\n\t\t\t\t\t\"options\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Low\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"1\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Medium\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"2\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"High\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"3\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Critical\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"4\"\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"static_select\",\n\t\t\t\t\t\"placeholder\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"Change TLP\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"action_id\": \"update_tlp\",\n\t\t\t\t\t\"options\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"White\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"0\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Amber\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"1\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Green\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"2\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Red\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"3\"\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"type\": \"static_select\",\n\t\t\t\t\t\"placeholder\": {\n\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\"text\": \"Change PAP\",\n\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t},\n\t\t\t\t\t\"action_id\": \"update_pap\",\n\t\t\t\t\t\"options\": [\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"White\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"0\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Green\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"1\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Amber\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"2\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t{\n\t\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\t\"text\": \"Red\",\n\t\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t\t},\n\t\t\t\t\t\t\t\"value\": \"3\"\n\t\t\t\t\t\t}\n\t\t\t\t\t]\n\t\t\t\t}\n\t\t\t]\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \":bee: View the case in TheHive\"\n\t\t\t},\n\t\t\t\"accessory\": {\n\t\t\t\t\"type\": \"button\",\n\t\t\t\t\"style\": \"primary\",\n\t\t\t\t\"text\": {\n\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\"text\": \"View Case\",\n\t\t\t\t\t\"emoji\": true\n\t\t\t\t},\n\t\t\t\t\"value\": \"click_me_123\",\n\t\t\t\t\"url\": \"{{ $('Formatting Dictionaries').item.json.theHiveUrl }}/cases/{{ $json['caseid'] }}/details\",\n\t\t\t\t\"action_id\": \"viewlink\"\n\t\t\t}\n\t\t}\n\t]\n}",
        "otherOptions": {}
      },
      "id": "e5e481c6-b422-4db3-bd09-61c2db9cfc11",
      "name": "Post New Case To Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        240,
        843.7829059126309
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0001aed3-a3fb-4229-8fa1-1941f0ee8a12",
              "name": "title",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[0].text }}",
              "type": "string"
            },
            {
              "id": "6f40871c-ea6f-4c61-9272-9342c99637e8",
              "name": "datecreated",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[1].text }}",
              "type": "string"
            },
            {
              "id": "2ea20d66-380f-4a0f-a1ea-c4740293f48b",
              "name": "number",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[1].text.text }}",
              "type": "string"
            },
            {
              "id": "a22dd686-ac38-4e73-a0ec-051dce57f9fa",
              "name": "severity",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[8].elements[0].text }}",
              "type": "string"
            },
            {
              "id": "1c210cfb-2a03-4e81-a8c5-2db739d98226",
              "name": "tlp",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[9].elements[0].text }}",
              "type": "string"
            },
            {
              "id": "53e1d1a9-055a-48c2-80de-b694871c6620",
              "name": "pap",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[10].elements[0].text }}",
              "type": "string"
            },
            {
              "id": "ee630583-a6ad-4bab-ad78-7846df3ac093",
              "name": "description",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[3].text }}",
              "type": "string"
            },
            {
              "id": "48ac7d92-5177-46be-b01e-83493f18ee09",
              "name": "assignee",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[11].elements[1].text }}",
              "type": "string"
            },
            {
              "id": "f9c06ecf-d3d5-490c-a848-02c88fbd3ab4",
              "name": "profilepic",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[11].elements[0].image_url }}",
              "type": "string"
            },
            {
              "id": "bb4ec29d-fac2-4eb9-a177-fca9d2798514",
              "name": "caseid",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[0].alt_text }}",
              "type": "string"
            },
            {
              "id": "7a485f44-b855-4633-ba51-82e7490d7166",
              "name": "tags",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[2].text }}",
              "type": "string"
            },
            {
              "id": "a4884fc5-2d92-4c34-af9c-61240bc564d5",
              "name": "status",
              "value": "=:negative_squared_cross_mark: *Status* Closed - False Positive",
              "type": "string"
            },
            {
              "id": "449c052a-05b4-4c03-99a4-b5fe7ec0e102",
              "name": "newassignee",
              "value": "={{ $json.response.state.values.actions_assignment_options['change-assignee'].selected_user }}",
              "type": "string"
            },
            {
              "id": "827c585d-ae23-48d5-b905-81f8260db61e",
              "name": "severitylabel",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ffa77b38-d880-47d0-a2c7-e8ef0a9dc0bf",
      "name": "Prep Fields For Slack - Close",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        960,
        2243.7829059126307
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0001aed3-a3fb-4229-8fa1-1941f0ee8a12",
              "name": "title",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[0].text }}",
              "type": "string"
            },
            {
              "id": "6f40871c-ea6f-4c61-9272-9342c99637e8",
              "name": "datecreated",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[1].text }}",
              "type": "string"
            },
            {
              "id": "2ea20d66-380f-4a0f-a1ea-c4740293f48b",
              "name": "number",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[1].text.text }}",
              "type": "string"
            },
            {
              "id": "a22dd686-ac38-4e73-a0ec-051dce57f9fa",
              "name": "severity",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[8].elements[0].text }}",
              "type": "string"
            },
            {
              "id": "1c210cfb-2a03-4e81-a8c5-2db739d98226",
              "name": "tlp",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[9].elements[0].text }}",
              "type": "string"
            },
            {
              "id": "53e1d1a9-055a-48c2-80de-b694871c6620",
              "name": "pap",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[10].elements[0].text }}",
              "type": "string"
            },
            {
              "id": "ee630583-a6ad-4bab-ad78-7846df3ac093",
              "name": "description",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[3].text }}",
              "type": "string"
            },
            {
              "id": "48ac7d92-5177-46be-b01e-83493f18ee09",
              "name": "assignee",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[11].elements[1].text }}",
              "type": "string"
            },
            {
              "id": "f9c06ecf-d3d5-490c-a848-02c88fbd3ab4",
              "name": "profilepic",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[11].elements[0].image_url }}",
              "type": "string"
            },
            {
              "id": "bb4ec29d-fac2-4eb9-a177-fca9d2798514",
              "name": "caseid",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[0].alt_text }}",
              "type": "string"
            },
            {
              "id": "7a485f44-b855-4633-ba51-82e7490d7166",
              "name": "tags",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[2].text }}",
              "type": "string"
            },
            {
              "id": "a4884fc5-2d92-4c34-af9c-61240bc564d5",
              "name": "status",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[7].elements[0].text }}",
              "type": "string"
            },
            {
              "id": "449c052a-05b4-4c03-99a4-b5fe7ec0e102",
              "name": "newassignee",
              "value": "={{ $json.response.state.values.actions_assignment_options['change-assignee'].selected_user }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "63b43c18-a344-4a61-a073-b8c9a492f634",
      "name": "Prep Fields For Slack - Assign",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        820,
        1223.782905912631
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0001aed3-a3fb-4229-8fa1-1941f0ee8a12",
              "name": "title",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[0].text }}",
              "type": "string"
            },
            {
              "id": "6f40871c-ea6f-4c61-9272-9342c99637e8",
              "name": "datecreated",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[1].text }}",
              "type": "string"
            },
            {
              "id": "2ea20d66-380f-4a0f-a1ea-c4740293f48b",
              "name": "number",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[1].text.text }}",
              "type": "string"
            },
            {
              "id": "a22dd686-ac38-4e73-a0ec-051dce57f9fa",
              "name": "severity",
              "value": "={{ $('Edit Fields').item.json[\"dictionary\"][\"Severity\"][$('Edit Fields').item.json.response.state.values.actions_assignment_options.update_severity.selected_option.text.text.toUpperCase()] }} *Severity:* {{ $('Edit Fields').item.json.response.state.values.actions_assignment_options.update_severity.selected_option.text.text.toUpperCase() }}",
              "type": "string"
            },
            {
              "id": "1c210cfb-2a03-4e81-a8c5-2db739d98226",
              "name": "tlp",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[9].elements[0].text }}",
              "type": "string"
            },
            {
              "id": "53e1d1a9-055a-48c2-80de-b694871c6620",
              "name": "pap",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[10].elements[0].text }}",
              "type": "string"
            },
            {
              "id": "ee630583-a6ad-4bab-ad78-7846df3ac093",
              "name": "description",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[3].text }}",
              "type": "string"
            },
            {
              "id": "48ac7d92-5177-46be-b01e-83493f18ee09",
              "name": "assignee",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[11].elements[1].text }}",
              "type": "string"
            },
            {
              "id": "f9c06ecf-d3d5-490c-a848-02c88fbd3ab4",
              "name": "profilepic",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[11].elements[0].image_url }}",
              "type": "string"
            },
            {
              "id": "bb4ec29d-fac2-4eb9-a177-fca9d2798514",
              "name": "caseid",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[0].alt_text }}",
              "type": "string"
            },
            {
              "id": "7a485f44-b855-4633-ba51-82e7490d7166",
              "name": "tags",
              "value": "={{ $('Edit Fields').item.json.response.message.blocks[3].fields[2].text.replaceAll(\"\\n\",\"\\\\n\").replaceAll(\"**\",\"*\") }}",
              "type": "string"
            },
            {
              "id": "a4884fc5-2d92-4c34-af9c-61240bc564d5",
              "name": "status",
              "value": "={{ $json.response.message.blocks[7].elements[0].text }}",
              "type": "string"
            },
            {
              "id": "449c052a-05b4-4c03-99a4-b5fe7ec0e102",
              "name": "newassignee",
              "value": "={{ $json.response.state.values.actions_assignment_options['change-assignee'].selected_user }}",
              "type": "string"
            },
            {
              "id": "8278ead1-85c0-4921-ac36-9abfd44f99c8",
              "name": "severityId",
              "value": "={{ $('Edit Fields').item.json.response.state.values.actions_assignment_options.update_severity.selected_option.value }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "9b8a7ca7-f5b3-4d44-bf8e-82f1f0679409",
      "name": "Prep Fields For Slack - Severity",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        960,
        2423.7829059126307
      ]
    },
    {
      "parameters": {
        "resource": "case",
        "operation": "update",
        "caseUpdateFields": {
          "mappingMode": "defineBelow",
          "value": {
            "flag": false,
            "id": "={{ $json.caseid }}",
            "severity": "={{ $json.severityId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "displayName": "ID",
              "id": "id",
              "required": false,
              "display": true,
              "type": "string",
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "displayName": "Title",
              "id": "title",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Description",
              "id": "description",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Severity (Severity of information)",
              "id": "severity",
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": 1
                },
                {
                  "name": "Medium",
                  "value": 2
                },
                {
                  "name": "High",
                  "value": 3
                },
                {
                  "name": "Critical",
                  "value": 4
                }
              ],
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Start Date",
              "id": "startDate",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "End Date",
              "id": "endDate",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Tags",
              "id": "tags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Flag",
              "id": "flag",
              "type": "boolean",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "TLP (Confidentiality of information)",
              "id": "tlp",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "PAP (Level of exposure of information)",
              "id": "pap",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Summary",
              "id": "summary",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Status",
              "id": "status",
              "type": "options",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "Duplicated",
                  "value": "Duplicated",
                  "description": "Stage: Closed"
                },
                {
                  "name": "FalsePositive",
                  "value": "FalsePositive",
                  "description": "Stage: Closed"
                },
                {
                  "name": "Indeterminate",
                  "value": "Indeterminate",
                  "description": "Stage: Closed"
                },
                {
                  "name": "InProgress",
                  "value": "InProgress",
                  "description": "Stage: InProgress"
                },
                {
                  "name": "New",
                  "value": "New",
                  "description": "Stage: New"
                },
                {
                  "name": "Other",
                  "value": "Other",
                  "description": "Stage: Closed"
                },
                {
                  "name": "TruePositive",
                  "value": "TruePositive",
                  "description": "Stage: Closed"
                }
              ]
            },
            {
              "displayName": "Assignee",
              "id": "assignee",
              "type": "options",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "Angel",
                  "value": "angel@aztechsol.com"
                },
                {
                  "name": "Alex Montminy",
                  "value": "alex@aztechsol.com"
                }
              ]
            },
            {
              "displayName": "Impact Status",
              "id": "impactStatus",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Task Rule",
              "id": "taskRule",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "displayName": "Observable Rule",
              "id": "observableRule",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "displayName": "Add Tags",
              "id": "addTags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "displayName": "Remove Tags",
              "id": "removeTags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ]
        }
      },
      "id": "0ae6ea0f-1963-4fc3-a0c1-fd5dc9bd5109",
      "name": "Update Case Severity",
      "type": "n8n-nodes-base.theHiveProject",
      "typeVersion": 1,
      "position": [
        1420,
        2423.7829059126307
      ]
    },
    {
      "parameters": {
        "resource": "case",
        "operation": "update",
        "caseUpdateFields": {
          "mappingMode": "defineBelow",
          "value": {
            "flag": false,
            "id": "={{ $json.caseid }}",
            "pap": "={{ $json.papId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "displayName": "ID",
              "id": "id",
              "required": false,
              "display": true,
              "type": "string",
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "displayName": "Title",
              "id": "title",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Description",
              "id": "description",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Severity (Severity of information)",
              "id": "severity",
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": 1
                },
                {
                  "name": "Medium",
                  "value": 2
                },
                {
                  "name": "High",
                  "value": 3
                },
                {
                  "name": "Critical",
                  "value": 4
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Start Date",
              "id": "startDate",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "End Date",
              "id": "endDate",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Tags",
              "id": "tags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Flag",
              "id": "flag",
              "type": "boolean",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "TLP (Confidentiality of information)",
              "id": "tlp",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "PAP (Level of exposure of information)",
              "id": "pap",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Summary",
              "id": "summary",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Status",
              "id": "status",
              "type": "options",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "Duplicated",
                  "value": "Duplicated",
                  "description": "Stage: Closed"
                },
                {
                  "name": "FalsePositive",
                  "value": "FalsePositive",
                  "description": "Stage: Closed"
                },
                {
                  "name": "Indeterminate",
                  "value": "Indeterminate",
                  "description": "Stage: Closed"
                },
                {
                  "name": "InProgress",
                  "value": "InProgress",
                  "description": "Stage: InProgress"
                },
                {
                  "name": "New",
                  "value": "New",
                  "description": "Stage: New"
                },
                {
                  "name": "Other",
                  "value": "Other",
                  "description": "Stage: Closed"
                },
                {
                  "name": "TruePositive",
                  "value": "TruePositive",
                  "description": "Stage: Closed"
                }
              ]
            },
            {
              "displayName": "Assignee",
              "id": "assignee",
              "type": "options",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "Angel",
                  "value": "angel@aztechsol.com"
                },
                {
                  "name": "Alex Montminy",
                  "value": "alex@aztechsol.com"
                }
              ]
            },
            {
              "displayName": "Impact Status",
              "id": "impactStatus",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Task Rule",
              "id": "taskRule",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "displayName": "Observable Rule",
              "id": "observableRule",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "displayName": "Add Tags",
              "id": "addTags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "displayName": "Remove Tags",
              "id": "removeTags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ]
        }
      },
      "id": "1409e8f7-13ea-4254-b5b5-444e0cf47c01",
      "name": "Update Case PAP",
      "type": "n8n-nodes-base.theHiveProject",
      "typeVersion": 1,
      "position": [
        1420,
        2603.7829059126307
      ]
    },
    {
      "parameters": {
        "resource": "case",
        "operation": "update",
        "caseUpdateFields": {
          "mappingMode": "defineBelow",
          "value": {
            "flag": false,
            "id": "={{ $json.caseid }}",
            "tlp": "={{ $json.tlpId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "displayName": "ID",
              "id": "id",
              "required": false,
              "display": true,
              "type": "string",
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "displayName": "Title",
              "id": "title",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Description",
              "id": "description",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Severity (Severity of information)",
              "id": "severity",
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": 1
                },
                {
                  "name": "Medium",
                  "value": 2
                },
                {
                  "name": "High",
                  "value": 3
                },
                {
                  "name": "Critical",
                  "value": 4
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Start Date",
              "id": "startDate",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "End Date",
              "id": "endDate",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Tags",
              "id": "tags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Flag",
              "id": "flag",
              "type": "boolean",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "TLP (Confidentiality of information)",
              "id": "tlp",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "PAP (Level of exposure of information)",
              "id": "pap",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Summary",
              "id": "summary",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Status",
              "id": "status",
              "type": "options",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "Duplicated",
                  "value": "Duplicated",
                  "description": "Stage: Closed"
                },
                {
                  "name": "FalsePositive",
                  "value": "FalsePositive",
                  "description": "Stage: Closed"
                },
                {
                  "name": "Indeterminate",
                  "value": "Indeterminate",
                  "description": "Stage: Closed"
                },
                {
                  "name": "InProgress",
                  "value": "InProgress",
                  "description": "Stage: InProgress"
                },
                {
                  "name": "New",
                  "value": "New",
                  "description": "Stage: New"
                },
                {
                  "name": "Other",
                  "value": "Other",
                  "description": "Stage: Closed"
                },
                {
                  "name": "TruePositive",
                  "value": "TruePositive",
                  "description": "Stage: Closed"
                }
              ]
            },
            {
              "displayName": "Assignee",
              "id": "assignee",
              "type": "options",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "Angel",
                  "value": "angel@aztechsol.com"
                },
                {
                  "name": "Alex Montminy",
                  "value": "alex@aztechsol.com"
                }
              ]
            },
            {
              "displayName": "Impact Status",
              "id": "impactStatus",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Task Rule",
              "id": "taskRule",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "displayName": "Observable Rule",
              "id": "observableRule",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "displayName": "Add Tags",
              "id": "addTags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "displayName": "Remove Tags",
              "id": "removeTags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ]
        }
      },
      "id": "d97e40a6-89c7-431c-9305-c79582b4a35f",
      "name": "Update Case TLP",
      "type": "n8n-nodes-base.theHiveProject",
      "typeVersion": 1,
      "position": [
        1420,
        2783.7829059126307
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Acknowledge Close Case to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        540,
        2243.7829059126307
      ],
      "id": "91ab64b3-a1f0-4c04-9146-f4499cb5ffdf"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Acknowledge Severity Update to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        540,
        2423.7829059126307
      ],
      "id": "075684cd-a423-4927-93b5-d507b0359190"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Acknowledge PAP Update to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        540,
        2603.7829059126307
      ],
      "id": "427f43df-ffdf-42b9-8185-d9831c1de8fe"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Acknowledge TLP Update to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        540,
        2783.7829059126307
      ],
      "id": "6ab8d50d-575a-4dc2-9ac5-3d0e7ff72866"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Acknowledge Status Update to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        540,
        2963.7829059126307
      ],
      "id": "8c7c7a29-6d9a-4c60-a032-58dfe56a8628"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Acknowledge Modal Request to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        540,
        3583.7829059126307
      ],
      "id": "5b7657f7-11e0-474b-baa8-ac5a479b0499"
    },
    {
      "parameters": {
        "content": "![Imgur](https://i.imgur.com/Y1oOXKL.png)",
        "height": 532.2137131625435,
        "width": 431.4429614751546,
        "color": 5
      },
      "id": "00e7106b-5c02-44ab-986d-147460244e7f",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1300,
        3223.7829059126307
      ]
    },
    {
      "parameters": {
        "content": "![Imgur](https://i.imgur.com/VyNA3Sn.png)\n### New cases will appear in slack in this format with the ability to quickly change variables in TheHive with quick actions baked in. ",
        "height": 453.21603562878454,
        "width": 431.4429614751546,
        "color": 5
      },
      "id": "52d98c69-6335-4d5b-96f6-5aba3755fbce",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slackthehivewebhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "88e6cc68-c75f-43d3-9aa3-2f06e5e3c42e",
      "name": "Receive Button Press",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        1423.782905912631
      ],
      "webhookId": "99db3e73-57d8-4107-ab02-5b7e713894ad"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.response.actions[0].action_id }}",
                    "rightValue": "change-assignee",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Assign to User"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "d5e3230c-d60a-41a5-815c-117f9e8d7598",
                    "leftValue": "={{ $json.response.actions[0].action_id }}",
                    "rightValue": "close_case",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Close Case"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "d0f5a4b9-c03c-4dc4-a6bc-41de387b0059",
                    "leftValue": "={{ $json.response.actions[0].action_id }}",
                    "rightValue": "update_severity",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update Severity"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "8cd2f467-0683-46af-98b4-1476c9fded2b",
                    "leftValue": "={{ $json.response.actions[0].action_id }}",
                    "rightValue": "add_task",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Add Task"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "374c13a4-2590-4ae4-b7fb-e01116ba714c",
                    "leftValue": "={{ $json.response.view.type }}",
                    "rightValue": "modal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Task Modal Details"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5bda6be6-cd63-448d-9f2f-c6ac47fdc024",
                    "leftValue": "={{ $json.response.actions[0].action_id }}",
                    "rightValue": "update_pap",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update Pap"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "7789be18-aba0-4fa8-a4d8-792e1b53fcc5",
                    "leftValue": "={{ $json.response.actions[0].action_id }}",
                    "rightValue": "update-status",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update Status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "aff9e422-c8e6-416c-9c80-e2757ed97da1",
                    "leftValue": "={{ $json.response.actions[0].action_id }}",
                    "rightValue": "update_tlp",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Update TLP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "d35e11f3-0e5f-48a9-98f7-66d0ed676b53",
                    "leftValue": "={{ $json.response.actions[0].action_id }}",
                    "rightValue": "viewlink",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "View Link"
            }
          ]
        },
        "options": {}
      },
      "id": "736cf113-c9d1-46e2-ac2e-a2b96f18ef98",
      "name": "Parse Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        220,
        1443.782905912631
      ]
    },
    {
      "parameters": {
        "content": "![Imgur](https://i.imgur.com/iKyMV0N.png)\n## 🤝Responding to Slack when someone clicks a link \nThis section of the workflow ensures that when a user interacts with a Slack message that invokes an n8n webhook, the server promptly acknowledges this with a \"200\" or \"204\" HTTP status response. This sticky note underscores the importance of a quick and positive response to maintain seamless interactions and ensure Slack receives the necessary feedback to conclude the user's action successfully.",
        "height": 472.04545691749547,
        "width": 839.546315272846,
        "color": 7
      },
      "id": "550a8084-4795-4509-9526-979624f15b3a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        4403.782905912631
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 204
        }
      },
      "name": "Respond positive to Slack when someone clicks a link",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        540,
        4683.782905912631
      ],
      "id": "13860d37-9556-4162-b2db-e64fa0b83022"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 204
        }
      },
      "name": "Respond 204 to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        740,
        4263.782905912631
      ],
      "id": "6d235198-099a-4999-bb72-a0ad2edb1313"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 204
        }
      },
      "name": "Close Modal with 204 response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        780,
        4083.7829059126307
      ],
      "id": "380e0c91-1e2d-4e68-9c76-73e9d3be5eb5"
    },
    {
      "parameters": {
        "resource": "user",
        "user": {
          "__rl": true,
          "value": "={{ $json.newassignee }}",
          "mode": "id"
        }
      },
      "id": "234e38f8-ba77-4fa9-9661-28ac6e2ffa9f",
      "name": "Get Slack User's Email From Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1060,
        1223.782905912631
      ]
    },
    {
      "parameters": {
        "resource": "case",
        "operation": "update",
        "caseUpdateFields": {
          "mappingMode": "defineBelow",
          "value": {
            "flag": false,
            "id": "={{ $('Prep Fields For Slack - Assign').item.json.caseid }}",
            "assignee": "={{ $json.profile.email }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "displayName": "ID",
              "id": "id",
              "required": false,
              "display": true,
              "type": "string",
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "displayName": "Title",
              "id": "title",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Description",
              "id": "description",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Severity (Severity of information)",
              "id": "severity",
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": 1
                },
                {
                  "name": "Medium",
                  "value": 2
                },
                {
                  "name": "High",
                  "value": 3
                },
                {
                  "name": "Critical",
                  "value": 4
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Start Date",
              "id": "startDate",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "End Date",
              "id": "endDate",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Tags",
              "id": "tags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Flag",
              "id": "flag",
              "type": "boolean",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "TLP (Confidentiality of information)",
              "id": "tlp",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "PAP (Level of exposure of information)",
              "id": "pap",
              "type": "options",
              "options": [
                {
                  "name": "White",
                  "value": 0
                },
                {
                  "name": "Green",
                  "value": 1
                },
                {
                  "name": "Amber",
                  "value": 2
                },
                {
                  "name": "Red",
                  "value": 3
                }
              ],
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Summary",
              "id": "summary",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Status",
              "id": "status",
              "type": "options",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "Duplicated",
                  "value": "Duplicated",
                  "description": "Stage: Closed"
                },
                {
                  "name": "FalsePositive",
                  "value": "FalsePositive",
                  "description": "Stage: Closed"
                },
                {
                  "name": "Indeterminate",
                  "value": "Indeterminate",
                  "description": "Stage: Closed"
                },
                {
                  "name": "InProgress",
                  "value": "InProgress",
                  "description": "Stage: InProgress"
                },
                {
                  "name": "New",
                  "value": "New",
                  "description": "Stage: New"
                },
                {
                  "name": "Other",
                  "value": "Other",
                  "description": "Stage: Closed"
                },
                {
                  "name": "TruePositive",
                  "value": "TruePositive",
                  "description": "Stage: Closed"
                }
              ]
            },
            {
              "displayName": "Assignee",
              "id": "assignee",
              "type": "options",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "Angel",
                  "value": "angel@aztechsol.com"
                },
                {
                  "name": "Alex Montminy",
                  "value": "alex@aztechsol.com"
                }
              ]
            },
            {
              "displayName": "Impact Status",
              "id": "impactStatus",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "displayName": "Task Rule",
              "id": "taskRule",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "displayName": "Observable Rule",
              "id": "observableRule",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "displayName": "Add Tags",
              "id": "addTags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "displayName": "Remove Tags",
              "id": "removeTags",
              "type": "string",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ]
        }
      },
      "id": "c5f3d724-87ca-4d4c-8819-70167534a4ea",
      "name": "Update TheHive Case with new Assignee",
      "type": "n8n-nodes-base.theHiveProject",
      "typeVersion": 1,
      "position": [
        1380,
        1223.782905912631
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Respond to Slack with 200 response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        580,
        1223.782905912631
      ],
      "id": "c433aa6d-4ae1-4285-b6c8-ec366b8a92ec"
    },
    {
      "parameters": {
        "content": "### 📧 GDPR Warning\nThis workflow requires additional permissions from your Slack app that may not be available in your region.",
        "height": 165.28509020280688,
        "width": 171.29382736351008,
        "color": 5
      },
      "id": "1b7d024b-7ac3-4136-8f49-ff68c34f5c3c",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1020,
        1003.7829059126309
      ]
    },
    {
      "parameters": {
        "content": "### 📧 Ensure the Slack users emails match those in TheHive\nThis assumes that your TheHive user's emails are the same as the same user's email in Slack. Please note that there is no error handling for case's assigned user, so if you assign someone that has an email in Slack that does not match the user in TheHive, it will fail. ",
        "height": 207.67897543554668,
        "width": 306.95426010827737,
        "color": 5
      },
      "id": "b0773b6c-efed-4dc6-ba2b-8c4be4a03b1c",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1580,
        963.7829059126309
      ]
    },
    {
      "parameters": {
        "content": "![Imgur](https://i.imgur.com/y2Yw1ZP.png)\n# Streamline Case Management in TheHive via Slack!\n\n## Our **TheHive Slack Integration** empowers SOC analysts by allowing them to efficiently manage and update case attributes directly within Slack, reducing the need to switch contexts and enhancing response time.\n\n\n**Key Features:**\n- **Direct Case Management**: Modify case details such as assignee, severity, status, and more through intuitive form inputs embedded within Slack messages.\n- **Seamless Integration**: Assumes matching email addresses between TheHive and Slack users for straightforward assignee updates. Note: Ensure email consistency to avoid assignment errors.\n- **Instant Case Actions**: Quickly close cases as false positives or adjust threat levels with minimal clicks, directly impacting case status in TheHive and reflecting updates immediately in Slack.\n- **Task Management**: Add tasks to cases through a user-friendly modal popup, fostering better task tracking and delegation within your team.\n\n\n**Operational Benefits:**\n- **Efficiency**: Enables analysts to perform multiple case actions without leaving Slack, streamlining workflows and saving valuable time.\n- **Accuracy**: Reduces the chances of human error by providing a controlled interface for case updates.\n- **Agility**: Enhances the SOC team's agility by providing tools for rapid response and case management, crucial for effective security operations.\n\n\n**Setup Tips:**\n- Verify that all SOC team members have matching email IDs in TheHive and Slack.\n- Familiarize your team with the Slack form inputs and ensure they understand the importance of accurate data entry.\n- Regularly review and update the integration settings to accommodate any changes in your security operations protocols.\n\n\n**Need Help?**\n- For detailed setup instructions or troubleshooting, refer to our [Integration Guide](https://docs.thehive-project.org) or reach out on our [Support Forum](https://community.thehive-project.org).\n\n\nLeverage this integration to maximize your SOC team's efficiency and responsiveness, ensuring that case management is as streamlined and effective as possible.\n",
        "height": 1196.0687210874733,
        "width": 670.2591130283372
      },
      "id": "7974af6b-a5bd-4b28-bbe4-d87da198a5a6",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1060,
        1043.782905912631
      ]
    },
    {
      "parameters": {
        "content": "### 📧 GDPR Warning\nThis workflow requires additional permissions from your Slack app that may not be available in your region or organization.",
        "height": 106.35161810996954,
        "width": 342.34463660857455,
        "color": 5
      },
      "id": "00cda283-efbc-40a4-bad7-06cefb47d2db",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        4263.782905912631
      ]
    },
    {
      "parameters": {
        "resource": "user",
        "user": {
          "__rl": true,
          "value": "={{ $json.response.user.id }}",
          "mode": "id"
        }
      },
      "id": "70ad0ffa-3dc4-4c95-ba43-cd64ad52fe02",
      "name": "Get Email From Slack to assign the task to in TheHive",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1060,
        4083.7829059126307
      ]
    },
    {
      "parameters": {
        "resource": "task",
        "caseId": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.response.view.blocks[0].elements[1].text }}",
          "mode": "id"
        },
        "taskFields": {
          "mappingMode": "defineBelow",
          "value": {
            "flag": "={{ $('Edit Fields').item.json[\"response\"][\"view\"][\"state\"][\"values\"][\"case-options\"][\"submit-task-option\"]['selected_options'].some(option => option.value === 'flagged') }}",
            "mandatory": "={{ $('Edit Fields').item.json[\"response\"][\"view\"][\"state\"][\"values\"][\"case-options\"][\"submit-task-option\"]['selected_options'].some(option => option.value === 'mandatory') }}",
            "title": "={{ $('Edit Fields').item.json.response.view.state.values.title_block.title_input.value }}",
            "description": "={{ $('Edit Fields').item.json.response.view.state.values.description_block.description_input.value }}",
            "group": "={{ $('Edit Fields').item.json.response.view.state.values.group_block.group_input.value }}",
            "dueDate": "={{ $('Edit Fields').item.json.response.view.state.values.due_date_block.due_date_input.selected_date }}",
            "assignee": "={{ $json.profile.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "displayName": "Title",
              "id": "title",
              "type": "string",
              "removed": false,
              "required": true,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Description",
              "id": "description",
              "type": "string",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Group",
              "id": "group",
              "type": "string",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Status",
              "id": "status",
              "type": "stirng",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Flag",
              "id": "flag",
              "type": "boolean",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Start Date",
              "id": "startDate",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Due Date",
              "id": "dueDate",
              "type": "dateTime",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "End Date",
              "id": "endDate",
              "type": "dateTime",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Assignee",
              "id": "assignee",
              "type": "options",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false,
              "options": [
                {
                  "name": "Angel",
                  "value": "angel@aztechsol.com"
                },
                {
                  "name": "Alex Montminy",
                  "value": "alex@aztechsol.com"
                }
              ]
            },
            {
              "displayName": "Mandatory",
              "id": "mandatory",
              "type": "boolean",
              "removed": false,
              "required": false,
              "display": true,
              "defaultMatch": false
            },
            {
              "displayName": "Order",
              "id": "order",
              "type": "number",
              "removed": true,
              "required": false,
              "display": true,
              "defaultMatch": false
            }
          ]
        }
      },
      "id": "2ce253b3-d4d0-45af-acf0-5ae0095904dd",
      "name": "Add a task to TheHive",
      "type": "n8n-nodes-base.theHiveProject",
      "typeVersion": 1,
      "position": [
        1640,
        4083.7829059126307
      ]
    }
  ],
  "connections": {
    "TheHive Trigger": {
      "main": [
        [
          {
            "node": "Formatting Dictionaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Parse Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Prep Fields For Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatting Dictionaries": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Fields For Slack": {
      "main": [
        [
          {
            "node": "Post New Case To Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Case Options": {
      "main": [
        [
          {
            "node": "Close Modal with 204 response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 204 to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Case Slack Block Rebuild": {
      "main": [
        [
          {
            "node": "Map Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Fields For PAP Slack": {
      "main": [
        [
          {
            "node": "Update Case PAP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Case Block Rebuild": {
      "main": [
        [
          {
            "node": "Map Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Severity Case Block Rebuild1": {
      "main": [
        [
          {
            "node": "Map Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Actions": {
      "main": [
        [
          {
            "node": "Build Final Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAP Case Block Rebuild": {
      "main": [
        [
          {
            "node": "Map Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Block": {
      "main": [
        [
          {
            "node": "Update Message with new Assignee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Fields For TLP Slack": {
      "main": [
        [
          {
            "node": "Update Case TLP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Fields For Status Slack": {
      "main": [
        [
          {
            "node": "Update Status in TheHive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status in TheHive": {
      "main": [
        [
          {
            "node": "Status Case Block Rebuild",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Case as False Positive": {
      "main": [
        [
          {
            "node": "Close Case Block Rebuild",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Case Block Rebuild": {
      "main": [
        [
          {
            "node": "Map Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TLP Case Block Rebuild": {
      "main": [
        [
          {
            "node": "Map Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Fields For Slack - Close": {
      "main": [
        [
          {
            "node": "Close Case as False Positive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Fields For Slack - Assign": {
      "main": [
        [
          {
            "node": "Get Slack User's Email From Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Fields For Slack - Severity": {
      "main": [
        [
          {
            "node": "Update Case Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Case Severity": {
      "main": [
        [
          {
            "node": "Severity Case Block Rebuild1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Case PAP": {
      "main": [
        [
          {
            "node": "PAP Case Block Rebuild",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Case TLP": {
      "main": [
        [
          {
            "node": "TLP Case Block Rebuild",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge Close Case to Slack": {
      "main": [
        [
          {
            "node": "Prep Fields For Slack - Close",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge Severity Update to Slack": {
      "main": [
        [
          {
            "node": "Prep Fields For Slack - Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge PAP Update to Slack": {
      "main": [
        [
          {
            "node": "Prep Fields For PAP Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge TLP Update to Slack": {
      "main": [
        [
          {
            "node": "Prep Fields For TLP Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge Status Update to Slack": {
      "main": [
        [
          {
            "node": "Prep Fields For Status Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge Modal Request to Slack": {
      "main": [
        [
          {
            "node": "Task Modal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Button Press": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message Type": {
      "main": [
        [
          {
            "node": "Respond to Slack with 200 response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acknowledge Close Case to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acknowledge Severity Update to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acknowledge Modal Request to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check if Case Options",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acknowledge PAP Update to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acknowledge Status Update to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acknowledge TLP Update to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond positive to Slack when someone clicks a link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond positive to Slack when someone clicks a link": {
      "main": [
        [
          {
            "node": "No Action Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Modal with 204 response": {
      "main": [
        [
          {
            "node": "Get Email From Slack to assign the task to in TheHive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Slack User's Email From Slack": {
      "main": [
        [
          {
            "node": "Update TheHive Case with new Assignee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update TheHive Case with new Assignee": {
      "main": [
        [
          {
            "node": "Case Slack Block Rebuild",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Slack with 200 response": {
      "main": [
        [
          {
            "node": "Prep Fields For Slack - Assign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email From Slack to assign the task to in TheHive": {
      "main": [
        [
          {
            "node": "Add a task to TheHive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "b5ff7c5e-2940-468a-b56e-cbe148d54c30",
  "owner": {
    "type": "team",
    "teamId": "7KQPZmuLDnKgOrJQ",
    "teamName": "DEMO"
  }
}